## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<section class="features-icons bg-light text-center d-flex align-items-center">
  <div class="container">
    <div>
      <div class="text-xs-center mb-4">
        <h3 class="font-weight-bold">בשביל ללמוד שפה לא מספיק קורס מעולה, כי אי אפשר<br>ללמוד לתקשר מבלי... לתקשר</h3>
        <p>את התכנים שתלמדו בקורס תוכלו לתרגל יחד עם הקהילה של מדרסה מכל מקום ובכל מקום</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-facebook fa-4x m-auto"></i>
          </div>
          <h3 class="lead2 font-weight-bold">26,876</h3>
          <p class="lead my-3"> עוקבים בפייסבוק </p>
          <a target="_blank" href="https://www.facebook.com/madrasafree/" class="btn btn-warning">LIKE</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-graduation-cap fa-4x m-auto"></i>
          </div>
          <h3 class="lead2 font-weight-bold">14,025</h3>
          <p class="lead my-3">תלמידים רשומים באתר</p>
          <a class="btn btn-warning" href="/">התחל.י ללמוד</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-comments fa-4x m-auto"></i>
          </div>
          <h3 class="lead2 font-weight-bold">6,684</h3>
          <p class="lead my-3">חברים בקבוצת תרגול</p>
          <a class="btn btn-warning" target="_blank" class="btn btn-warning m-2"
            href="https://www.facebook.com/groups/MadrasaFree">הצטרפ.י</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-newspaper-o fa-4x m-auto"></i>
          </div>
          <h3 class="lead2 font-weight-bold">6,471</h3>
          <p class="lead my-3">רשומים לניוזלטר</p>
          <a class="btn btn-warning"
            href="https://docs.google.com/forms/d/1PTsHVqH08YTB7aXFEgO6AbnzIsKzYkjrKhLoO63RJaw/viewform?edit_requested=true"
            target="_blank">הרשמ.י</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="quote d-flex align-items-center">
  <div class="container">
    <div id="quote-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-between align-items-center">
            <div class="quotation-mark align-self-start">״</div>
            <blockquote class="blockquote text-center">
              <h3 class="mb-0">שנים שרציתי להיות מסוגלת לנהל שיחה בערבית.<br>עכשיו בזכות הקורס של מדרסה, זה קורה</h3>
              <p class="blockquote-footer mt-4">שירה, הצטרפה למדרסה לפני 4 חודשים</p>
            </blockquote>
            <div class="quotation-mark align-self-end">״</div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-between align-items-center">
            <div class="quotation-mark align-self-start">״</div>
            <blockquote class="blockquote text-center">
              <h3 class="mb-0">יוזמה מדהימה שמנגישה את השפה הערבית באופן אינטרקטיבי. שאפו!</h3>
              <p class="blockquote-footer mt-4">מתן, הצטרף למדרסה לפני 10 חודשים</p>
            </blockquote>
            <div class="quotation-mark align-self-end">״</div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-between align-items-center">
            <div class="quotation-mark align-self-start">״</div>
            <blockquote class="blockquote text-center">
              <h3 class="mb-0">מדרסה נותנת לי מוטיבציה ללמוד ערבית, ועושה את זה בדרך ייחודית ומאוד ידידותית</h3>
              <p class="blockquote-footer mt-4">יובל, הצטרף למדרסה לפני 5 חודשים</p>
            </blockquote>
            <div class="quotation-mark align-self-end">״</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="embed-responsive embed-responsive-16by9" style="max-height:22em;">
    <iframe class="embed-responsive-item" src="https://www.madrasafree.net/copy-of-2-0"
      style="overflow:hidden; overflow-x:hidden;" scrolling="no" seamless="seamless" allowfullscreen></iframe>
  </div>
</section>
<section class="supporters py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-heart-o fa-3x m-auto"></i>
          </div>
          <h3 class="lead2 font-weight-bold">1,500</h3>
          <p class="lead mb-0"> תומכים </p>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <a class="theme-btn-special px-3" href="/supportus">מדרסה קיים בזכות תומכים כמוך. הצטרפ.י למהפכה!</a>
      </div>
    </div>
  </div>
</section>
<!-- <div class="container">
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
           <img class="card-img-top" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/home/toyarabicnew_i.png" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text text-right">סחתיין: האנשים שילמדו אתכם כל מה שאתם צריכים לדעת בערבית</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <small class="text-right">רקפת פרא | mako | פורסם 28/06/18 11:56</small>
          <a href="#" class="press-link align-self-end">קרא.י עוד!</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
           <img class="card-img-top" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/home/toyarabicnew_i.png" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text text-right">סחתיין: האנשים שילמדו אתכם כל מה שאתם צריכים לדעת בערבית</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <small class="text-right">רקפת פרא | mako | פורסם 28/06/18 11:56</small>
           <a href="#" class="press-link align-self-end">קרא.י עוד!</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
           <img class="card-img-top" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/home/toyarabicnew_i.png" alt="...">
        </div>
        <div class="card-body">
          <p class="card-text text-right">סחתיין: האנשים שילמדו אתכם כל מה שאתם צריכים לדעת בערבית</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <small class="text-right">רקפת פרא | mako | פורסם 28/06/18 11:56</small>
           <a href="#" class="press-link align-self-end">קרא.י עוד!</a>
        </div>
      </div>
    </div>
</div> -->