<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<%block name="headextra">
    <link rel="stylesheet" type="text/css" href="${static.url('css/madrasafree/icredit_payment_success.css')}">
</%block>

<section class="madrasafree-icredit_payment_success">
    <div class="container">
        <h1>Payment completed!</h1>
        <a href="" onclick="window.parent.location = '/dashboard/'">Visit dashboard</a>
    </div>
</section>
