<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
    from django.utils.translation import ugettext as _
%>

<%inherit file="../main.html" />
<%block name="headextra">
    <link rel="stylesheet" type="text/css" href="${static.url('css/madrasafree/registration_completed.css')}">
    <script type="text/javascript" src="${static.url('js/supportForm.js')}"></script>
</%block>

<section class="madrasafree-registration_completed">
    <div class="container">
        <h1>Registration completed!</h1>
    </div>
</section>
