<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
    from django.utils.translation import ugettext as _
%>

<%inherit file="../main.html" />
<%block name="headextra">
    <link rel="stylesheet" type="text/css" href="${static.url('css/madrasafree/registration_completed.css')}">
    <script type="text/javascript">
        function cancelDonate() {
            document.getElementById('cancel-pity').setAttribute('class', '');
            document.getElementById('donate-button').setAttribute('class', 'hidden');
            document.getElementById('cancel-button').setAttribute('class', 'hidden');
        }
    </script>
</%block>

<section class="madrasafree-registration_completed" dir="rtl">
    <div class="container">
        <h1>
             מַבְּרוּכּ! שלב ההרשמה הושלם בהצלחה 👏
        </h1>
        <!-- <div class="annotate">
            <p>
                רגע לפני שמתחילים רצינו לספר לך
            </p>
        </div> -->
        <p class="content">הצטרפת עכשיו לקהילה של כמעט 100,000 ישראלים, שמתרגלים ונהנים מהקורסים התכנים והמפגשים של מדרסה בחינם לחלוטין!

        </p>

        <p class="content">אנחנו ארגון ללא מטרות רווח שמלמד מאות אלפי ישראלים ערבית בחינם. אנחנו מסוגלים להתקיים ולהגיע לעוד מאות אנשים כל יום אך ורק בזכות מעגל מצומצם (פחות מ-1% מכלל הלומדים) שתומכים ותומכות במיזם באופן שוטף.</p>

        <p class="content strong">אם גם לך חשוב שלימודי ערבית יהיו נגישים בחינם לכולם - מזמינים אותך להצטרף ולתמוך בכל סכום שמתאפשר!    </p>

        <!-- <p class="question">
            ?רוצה גם לתמוך (בכל סכום) ולעזור לנו להגיע למיליון לומדים
        </p> -->
        <div class="actions">
            <!--
            <a id="donate-button" href="/madrasafree/donate/" class="button donate">
                 !כן, אני אשמח לתמוך במדרסה 
            </a>
            -->


            <a id="donate-button" href="/madrasafree/donate" class="button donate">
                 !כן, אני אשמח לתמוך במדרסה 
            </a>
             
            <a id="cancel-button" class="button cancel" onclick="cancelDonate();return false;">
                מעדיף/ה שלא לתמוך כרגע
            </a>
            <div id="cancel-pity" class="hidden">
                <p>:) בסדר גמור, אפשר להצטרף לתמיכה גם בהמשך</p>
                <a href="/dashboard/" class="button dashboard">
                    !יאללה ללימודים
                </a>
            </div>
        </div>
    </div>
</section>
