@mixin inline-block ($align: middle){
    display: inline-block;
    vertical-align: $align;
}

$desktop: '(min-width: 992px)';
@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}