@import "const";
@import "mixins";
@import "blocks/links";
@import "blocks/fonts";
@import "blocks/buttons";
@import "blocks/form-elements";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/courses-index-page";
@import "blocks/dashboard";
@import "blocks/about";
@import "blocks/course-main";
@import "blocks/wiki";
@import "blocks/discussion";
@import "blocks/instructor";
@import "blocks/sysadmin";
@import "blocks/login-register";
@import "blocks/fullscreen-button";
@import "blocks/progress";
@import "blocks/profile-account";
@import "blocks/slider";
@import "blocks/res-user";
@import "blocks/theme-btn";
@import "blocks/promo-box";
@import "blocks/content-wrapper";
@import "static_pages/home-page";
@import "static_pages/aboutus";
@import "static_pages/community";
@import "static_pages/language-services";
@import "static_pages/support-us";
@import "static_pages/supporters";

// remove?
$baseline: 1.2rem;

html,
body {
  font-family: "muliregular", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.course-profile-wrapper h1 {
  font-family: "muliregular", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.course-profile-promo-box:before {
  opacity: 0;
}

.course-profile-wrapper {
  .main-cta {
    strong {
      color: white;
      font-size: 18px;
    }
    span.disabled {
      background: initial !important;
      border: 0 !important;
      padding-left: 6px;
      &:hover {
        background: initial !important;
        border: 0 !important;
        color: white !important;
      }
    }

    .disabled ~ a strong {
      background: #74bb00 !important;
      padding: 10px 16px !important;
      font-size: 14px;
      font-family: muliregular !important;
      font-weight: 400;
      &:hover {
        background: #ffffff !important;
        color: #74bb00 !important;
        border: 2px #74bb00 solid;
      }
    }
  }
}

[data-course-id] {
  p,
  span,
  td,
  th,
  label,
  li,
  strong,
  select {
    font-size: 20px !important;
    line-height: 1.7em !important;
  }
  iframe {
    @media (max-width: 500px) {
      max-width: 100% !important;
    }
  }
}

h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
p {
  font-size: $font-size-base;
}
.xmodule_HtmlModule {
  @media (max-width: 600px) {
    table {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .content-left {
      @media (max-width: 600px) {
        width: 100% !important;
      }
    }
    .course-profile-promo-box h1 {
      font-family: muliregular, sans-serif !important;
    }
    tr {
      display: table;
      width: 280px;
      background: #d9ead3 !important;
    }
    td {
      display: table-row;
      padding: 0 !important;
      margin: 0 !important;
      border: 0 !important;
      padding: 4px 8px !important;
      font-size: 18px !important;
    }
    td:nth-child(even) {
      width: 50% !important;
      float: right;
    }
    td:nth-child(odd) {
      width: 50% !important;
      float: left;
    }
  }
}

.image-text-container {
  @media (max-width: 600px) {
    flex-wrap: wrap;
    .image-middle {
      width: 40% !important;
    }
    .image-middle {
      width: 50% !important;
      padding-top: 0 !important;
    }
    .content-left {
      width: 100% !important;
      padding-top: 40px !important;
      p {
        padding-left: 20px;
        text-align: justify;
      }
    }
  }
}

.community-grid-box {
  width: 100%;
  div {
    width: 100%;
  }
}

// body {
// 	background: $body-bg !important;
// 	position: relative;
// 	line-height: 1.2;
// }

// .holder,
// .wrapper-preview-menu .preview-menu {
// 	max-width: 1200px;
// 	margin: 0 auto;
// 	padding: 0 15px;
// 	width: 100%;
// 	box-sizing: border-box;
// }

// body.view-in-course .instructor-dashboard-wrapper-2,
// body.view-in-course .wiki-wrapper {
// 	max-width: 1170px;
// 	margin: 0 auto;
// 	padding: 0 15px;
// 	width: 100%;
// 	box-sizing: border-box;
// }

// .content-wrapper {
// 	width: 100%;
// 	margin: 0 auto;
// 	padding: 0 0 15px;
// 	background: $body-bg;
// }

// .window-wrap,
// .view-profile .window-wrap {
// 	background: none;
// 	position: relative;
// 	box-sizing: border-box;
// }

// // fixed footer

// .window-wrap {
// 	flex: 1 1 auto;
// 	display: flex;
// 	flex-flow: column nowrap;
// }

// #content {
// 	flex: 1 1 auto;
// }

// // fixed footer [styles for IE10+]
// @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
// 	body {
// 		display: flex;
// 	}

// 	body,
// 	.window-wrap {
// 		flex: 1 1 auto;
// 		display: flex;
// 		flex-flow: column nowrap;
// 	}

// 	#content {
// 		flex: 1 1 auto;
// 	}

// 	.wrapper-footer {
// 		overflow: hidden;
// 	}
// }

// // lms - base
// // ====================

// // html {
// //   overflow-y: scroll;
// // }

// html, body {
//     font-family: 'muliregular';
//     font-size: 27px;
//     font-style: normal;
//     line-height: 1em;
//   }

//   html{
//     background: white;
//   }

//   body {
//     background: $body-bg;
//   }

//   // removing the outline on any element that we make programmatically focusable
//   [tabindex="-1"] {
//       outline: none;
//   }

//   h1, h2, h3, h4, h5, h6 {
//     color: $base-font-color;
//     font: normal 1.2em/1.2em ;
//     margin: 0;
//   }

//   h1 {
//     color: $base-font-color;
//     font: normal 2em/1.4em $sans-serif-font;
//     margin-bottom: ($baseline*1.5);
//     text-align: center;
//   }

//   h2 {
//     color: $theme-color-grey;
//     font: normal 1.2em/1.2em 'muliregular';
//     margin-bottom: ($baseline*0.75);
//     -webkit-font-smoothing: antialiased;
//   }

//   p + h2, ul + h2, ol + h2 {
//     margin-top: ($baseline*2);
//   }

//   p {
//     color: inherit;
//     margin: 0;
//   }

//   span {
//     color: inherit;
//     font: inherit;
//   }

//   /* Fix for CodeMirror: prevent top-level span from affecting deeply-embedded span in CodeMirror */
//   .CodeMirror span {
//     font: inherit;
//   }

//   .text-center {
//     text-align: center;
//   }

//   .text-dark-grey {
//     color: $theme-color-grey;
//     font-size: 24px;
//   }

//   p + p, ul + p, ol + p {
//     margin-top: $baseline;
//   }

//   p {
//     a, a:visited {
//       color: $links-color;
//       font: inherit;
//       font-weight: inherit;
//       text-decoration: none;

//       &:hover, &:focus {
//         color: $links-color-hover;
//         text-decoration: underline;
//       }
//     }
//   }

//   a, a:visited {
//     color: $links-color;
//     font: inherit;
//     text-decoration: none;

//     &:hover,
//     &:focus {
//       color: $links-color-hover;
//       text-decoration: underline;
//     }

//     &:disabled, &.is-disabled, &.disabled {
//       @extend %ui-disabled;
//       opacity: 0.5;
//       cursor: not-allowed;
//     }
//   }

//   .content-wrapper {
//     width: flex-grid(12);
//     margin: 0 auto;

//     @media print {
//       padding-bottom: 0;
//     }
//   }

//   .container {
//     margin: 0 auto 0;
//     padding: ($baseline*2) 0;
//     max-width: grid-width(12);
//     min-width: 760px;
//     width: flex-grid(12);
//   }

//   .no-min-scale {
//     min-width: 0px !important;
//   }

//   span.edx {
//     text-transform: none;
//     font: inherit;
//   }

//   .static-container {
//     margin: 0 auto 0;
//     max-width: 1200px;
//     padding: ($baseline*3) 0 ($baseline*6);
//     width: flex-grid(12);

//     .inner-wrapper {
//       margin: 0 auto 0;
//       width: flex-grid(10);
//     }

//     ol, ul {
//       list-style: disc;

//       li {
//         color: $base-font-color;
//         font: normal 1em/1.4em;
//         margin: 0;
//       }
//     }

//     h1 {
//       margin-bottom: ($baseline*1.5);
//     }

//     h1 + hr {
//       margin-bottom: ($baseline*3);
//     }

//     p + h2, ul + h2, ol + h2 {
//       margin-top: ($baseline*2);
//     }

//     ul + p, ol + p {
//       margin-top: $baseline;
//     }
//   }

//   .loading-animation {
//     text-align: center;
//     width: 100%;
//   }

//   mark {
//     padding: 0 3px;
//     border-radius: 2px;
//     background-color: #f7e9a8;
//     color: #333;
//   }

//   .ie-banner {
//     display: none;
//     max-width: 1140px;
//     min-width: 720px;
//     margin: auto;
//     border-radius: 0 0 3px 3px;
//     background: #f4f4e0;
//     color: #3c3c3c;
//     padding: ($baseline/4) $baseline 8px;
//     font-size: 13px;
//     text-align: center;

//     strong {
//       font-weight: 700;
//     }
//   }

//   .help-tab {
//       @extend %ui-depth2;
//       @extend %ui-print-excluded;
//       position: fixed;
//       top: 250px;
//       left: 0;

//       a:link,
//       a:visited {
//           border: 1px solid;
//           border-top-style: none;
//           border-radius: 0 0 ($baseline/2) ($baseline/2);
//           background: transparentize($white, 0.25);
//           color: transparentize($base-font-color, 0.25);
//           font-weight: bold;
//           text-decoration: none;
//           padding: 6px 22px 11px;
//           display: inline-block;

//           &:hover,
//           &:focus {
//               color: $white;
//               background: $links-color;
//           }
//       }
//   }

//   .help-buttons {
//       padding: ($baseline/2) ($baseline*2.5);
//       text-align: center;

//       button {
//           @extend %btn-secondary-blue-outline;
//           margin: .5rem 0;
//           font-weight: initial;
//           text-shadow: none;
//           letter-spacing: initial !important;
//           text-transform: normal !important;
//           vertical-align: initial;

//           &:hover,
//           &:focus {
//               background: $links-color !important;
//               color: $white;
//               box-shadow: none !important;
//               text-shadow: none !important;
//           }
//       }
//   }

//   #feedback_form {
//     input, textarea {
//       font: normal 1em/1.4em $sans-serif-font;
//     }
//     textarea[name="details"] {
//       height: 150px;
//     }
//   }

//   #feedback_success_wrapper {
//     p {
//       padding: 0 $baseline $baseline $baseline;
//     }
//   }

//   // ====================

//   // UI - disabled state
//   .is-disabled {
//     @extend %ui-disabled;
//   }

//   // UI - is hidden
//   .is-hidden {
//     display: none;
//   }

//   // UI - is deprecated
//   .is-deprecated {
//     @extend %ui-deprecated;
//   }

//   // UI - semantically hide text
//   .sr, .sr-only {
//     @extend %text-sr;
//     @extend %a11y-ensure-contrast;
//   }

//   // UI - skipnav
//   .nav-skip,
//   .transcript-skip {
//     @extend %ui-print-excluded;

//     display: inline-block;
//     position: absolute;
//     left: 0;
//     top: -($baseline*30);
//     overflow: hidden;
//     background: $white;
//     border-bottom: 1px solid $border-color-4;
//     padding: ($baseline*0.75) ($baseline/2);

//     &:focus,
//     &:active {
//       position: relative;
//       top: auto;
//       width: auto;
//       height: auto;
//       margin: 0;
//     }
//   }
