.madrasafree-donate_success {

  h1 {
    text-align: center;
  }

  .actions {
    text-align: center;
    margin: 40px;

    .button {
      padding: 10px 40px;
      background-image: none;
      background-color: #80CA20;
      color: black;
      border: none;
      outline: none;
      text-shadow: none;
      box-shadow: none;
      border-radius: 25px;

      &:hover {
        background-image: none;
        color: black;
      }
    }

  }

}
