@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Secular+One&display=swap");

.madrasafree-donate {
  * {
    font-family: "Heebo";
  }

  .container {
    max-width: 800px;

    h1 {
      font-size: 28px;
      font-family: "Secular One";
      text-align: center;
    }

    h2 {
      font-size: 24px;
      text-align: center;
      font-family: "Secular One";
    }
  }

  .support-container {
    .frequency {
      text-align: center;
      margin-bottom: 24px;

      select {
        appearance: auto;
        color: white;
        background: #f77424 !important;
        padding: 15px !important;
        height: auto;
        border-radius: 10px;
        font-size: 120%;
        border: none !important;
      }
    }

    #support-text {
      text-align: center;
    }

    #amount {
      display: flex;
      flex-wrap: wrap;
      max-width: 540px;
      margin: auto;
      justify-content: center;
      align-items: stretch;

      .select-amount {
        text-align: center;
        display: block;
        border-radius: 7px;
        width: 25%;
        color: #65c7eb;
        margin: 0 10px 10px 10px;
        padding: 10px 15px;
        position: relative;
        font-style: normal;
        border: solid 1px #65c7eb;

        &.selected,
        &:hover {
          cursor: pointer;
          color: white;
          background-color: #65c7eb;
        }
      }
    }

    .actions {
      text-align: center;
      margin: 40px;

      button {
        padding: 10px 40px;
        background-image: none;
        color: white;
        background-color: #80ca20;
        border: none;
        outline: none;
        text-shadow: none;
        box-shadow: none;
        border-radius: 25px;
        font-size: 24px;
      }
    }

    #amount .number {
      font-size: 32px;
      font-weight: bold;
      width: 100%;
    }

    #custom-amount-section {
      display: none;
      text-align: center;
      margin: 20px;
    }

    .other {
      font-size: 20px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #cancel {
      font-size: 16px;
      margin-bottom: 20px;
    }

    #amount input[type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      opacity: 0;
    }

    #back-arrow {
      font-size: 60px;
      text-align: right;
      cursor: pointer;
    }

    #paying-iframe {
      display: none;
      max-width: 600px;
      margin: auto;
    }

    #paying-iframe iframe {
      width: 100%;
      height: 100%;
      min-height: 1000px;
      border: none;
    }

    #back-arrow {
      display: none;
    }
  }
}
