.madrasafree-registration_completed {

  .container {
    max-width: 651px;
    margin: auto;

    h1 {
      margin-bottom: 80px;
    }

    .annotate {
      text-align: center;

      p {
        display: inline-block;
        padding: 5px;
        margin: 40px auto;
        background-color: #57C2EA;
        color: white;
        border-radius: 10px;
        font-size: 32px;
        line-height: 100%;
      }
    }

    .question {
      text-align: center;
      font-weight: bold;
      margin: 40px auto 100px auto;
    }

    .actions {
      display: flex;
      align-items: center;
      flex-direction: column;

      .button {
        padding: 10px 40px;
        background-image: none;
        background-color: #80CA20;
        color: black;
        border: none;
        outline: none;
        text-shadow: none;
        box-shadow: none;
        border-radius: 25px;

        &:hover {
          background-image: none;
          color: black;
        }

        &.donate {
          margin-bottom: 32px;
        }

        &.cancel {
          background: none;
          border-bottom: solid 1px black;
          border-radius: 0;
          padding: 0;
        }
      }

      #cancel-pity {
        text-align: center;

        .button {
          display: inline-block;
        }
      }
    }

  }

}
