@font-face {
  font-family: 'muliitalic';
  src: url(#{$my-font-path}/AbrahamTRIAL-Black.woff2) format('woff2'),
       url(#{$my-font-path}/AbrahamTRIAL-Black.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: $font-size-regular;
}
@font-face {
  font-family: 'mulilight';
  src: url(#{$my-font-path}/AbrahamTRIAL-Light.woff2) format('woff2'),
       url(#{$my-font-path}/AbrahamTRIAL-Light.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: $font-size-regular;

}
@font-face {
  font-family: 'mulilight_italic';
  src: url(#{$my-font-path}/AbrahamTRIAL-Thin.woff2) format('woff2'),
       url(#{$my-font-path}/AbrahamTRIAL-Thin.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: $font-size-regular;

}
@font-face {
  font-family: 'muliregular';
  src: url(#{$my-font-path}/AbrahamTRIAL-Regular.woff2) format('woff2'),
       url(#{$my-font-path}/AbrahamTRIAL-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: $font-size-regular;
}