.theme-footer {
    background: #fff;

    &_holder {
        // padding-top: 53px;

        &__color {
            background: #85C559;
        }
    }

    &_header {
        font: 18px/1.3 muliregular;
        color: #111827;
        text-align: center;
        margin: 0 0 37px;
        text-transform: none;
        display: inline;
    }

    &_section {
        border-top: 1px solid #ececec;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1140px;
        margin: 0 auto;
        padding: 28px 15px;

        @media (max-width: 450px) {
            flex-direction: column;
        }

        .theme-footer_holder__color & {
            border-color: #2f343b;
        }
    }

    &_link {
        display: inline-block;
        font: $font-size-base/1.3 muliregular;
        color: #85d600 !important;
        border: 1px solid #85d600;
        padding: 11px 48px 10px;
        text-transform: uppercase;
    }

    &_wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 1140px;
        margin: 0 auto 20px;
        // padding: 0 15px;
        box-sizing: border-box;
        flex-wrap: wrap;
        flex-flow: row;
        align-items: center;

        @media all and (min-width: 600px) {
            flex-wrap: nowrap;
        }
    }

    &_col-header {
        display: inline;
        font: $font-size-base/1.3 muliregular;
        color: #fff !important;
        padding: 0 0 13px;
        text-transform: uppercase;
        margin: 0px;
    }

    &_col-holder {
        margin: 0 0 11px;
    }

    &_col-link {
        font: $font-size-base/1.3 muliregular;
        color: #7f848c !important;
    }

    &_text {
        font: $font-size-base/1.3 muliregular;
        color: #5a666e;
        margin-right: 50px;

        @media (max-width: 450px) {
            margin-right: 0;
            // margin-bottom: 20px;
            text-align: center;
        }
    }

    &_copyright {
        font: $font-size-base/1.3 muliregular;
        color: #7f848c;
    }

    &_logo {
        width: auto;
        height: auto;
        min-height: 80px;
        min-width: 80px;
    }

    &_col {
        width: 100%;

        // margin: 0 0 25px;
        @media all and (min-width: 600px) {
            width: auto;
        }
    }
	.mob-footer {
		p {
			font-size: 16px;
			text-align: center;
			margin: 1em;
		}
	}
}