<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">14 ימים בבידוד</%block>
<%block name="headextra">

</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section style="background-color:green">
    <h1>לומדים ערבית בבידוד - מתחילים</h1>
   </section>
	<section>
    <div></div>
     <div>
        <p class="text-center">בשבועיים הקרובים נעבור יחד ולחוד מסע אינטנסיבי ללימוד ערבית מדוברת. התהליך יתבצע דרך משימות שונות - מלימוד מקוו, דרך תרגול ביחד ולחוד, וכלה בתכני העשרה מרתקים. בסוף השבועיים, יוכל כל אחד מאיתנו לתקשר מעט יותר בערבית מדוברת, עם עמדת מוצא מצויינת ומומנטום מצויין להמשיך לתרגל וללמוד</p>
     </div>
      <div></div>
    </section>
    <section>
     <div></div>
      <div></div>
       <div></div>
    </section>
</main>