<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">14 ימים בבידוד</%block>
<%block name="headextra">

<style>
.bg-turquise{
    color:white;
    background-color:#70BF96;
}
main{
  background-size: 22px 22px;
  background-image:
    linear-gradient(to right, #F0F9FE 2px, transparent 1px),
    linear-gradient(to bottom, #F0F9FE 2px, transparent 1px);

}
p{
    font-size:20px;
}
.title-strip{
    margin-top:20px;
    opacity: 0.8;
}
section{
    border-bottom:4px dashed #70BF96;
}
</style>

</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="bg-turquise title-strip py-5">
    <h1>לומדים ערבית בבידוד - מתחילים</h1>
   </section>
	<section class="d-flex">
    <div></div>
     <div>
        <p class="text-center p-2">בשבועיים הקרובים נעבור יחד ולחוד מסע אינטנסיבי ללימוד ערבית מדוברת. התהליך יתבצע דרך משימות שונות -מלימוד מקוון, דרך תרגול ביחד ולחוד, וכלה בתכני העשרה מרתקים. בסוף השבועיים, יוכל כל אחד מאיתנו לתקשר מעט יותר בערבית מדוברת, עם עמדת מוצא מצוינת ומומנטים מצוין להמשיך לתרגל וללמוד!
</p>
        <a class="bg-turquise" href="#">להרשמה לתוכנית וקבלת השיעורים ישירות למייל</a>
     </div>
      <div></div>
    </section>
    <section>
     <div></div>
      <div>
      <h2></h2>
      <p></p>
      </div>
       <div></div>
    </section>
    <section class="live-section">
      <div></div>
      <div>
      <div></div>
      <div></div>
       <div>
    </section>
    <section>
    </section>
</main>