<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">About</%block>


<%block name="headextra">
<!-- Search Engine -->
<meta name="description" content="">
<meta name="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="About">
<meta itemprop="description" content="">
<meta itemprop="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="About">
<meta name="og:description" content="">
<meta name="og:image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<style>
		.about-story .about-story-img{
			background-position:top!important;
			min-height:200px!important;
		}
		 .about-story li{
	font-size:23px;
	margin-bottom:6px;
  }
  p, li{
	  text-align:left;
  }
	
	</style>
</%block>




<main id="main" aria-label="Content" tabindex="-1" style="direction: ltr;">

	<section class="about-top">
        <div class="container text-center p-5">
			<h1 class="pt-5">Madrasa’s story</h1>
			<h3>A social, technological, community-oriented initiative for learning Colloquial Arabic. For everyone, for free.</h3>
			<p class="pb-5">Our goal is to promote better communication between the different parts of Israeli society. Our project combines online studies through interactive courses and a rich content library, with ongoing community activity in social media and study groups throughout the country.</p>
		</div>
	</section>
	
	<nav>
		<ul class="about-nav nav justify-content-center">
			<li class="nav-item"><a class="nav-link active" href="#story">Our Story</a></li>
			<li class="nav-item"><a class="nav-link" href="#team">Our Team</a></li>
			<li class="nav-item"><a class="nav-link" href="#managment">Board of Directors</a></li>
			<!-- <li class="nav-item"><a class="nav-link" href="#thanks">Thanks</a></li> -->
		</ul>
	</nav>
	
	<section class="about-story">
		<div class="about-story-img"></div>
		<a name="story"></a>
		<div class="container pb-0">
			<div class="about-story-wrap mb-5 px-3">
				<p class="heading">
					Madrasa is a social initiative for learning spoken Arabic, for free, using technological tools and community learning. 
				</p>
				<p>Over 75,000 registered students learn to communicate through a combination of free online courses, diverse content on various new media channels, and through practicing in speaking groups across the country. In parallel to its public-facing activities, the organization builds and strengthens many strategic collaborations consisting of hybrid courses, workshops and lectures, with the aim of increasing Arabic fluency in central stratas of society. </p>
			</div>
			<div class="about-story-wrap mb-5 px-3">
				<p class="heading">
					Our goal is to connect various groups in Israeli society to one another. 
				</p>
				<p> Arabic is in fact a much broader common denominator than is commonly thought: It is the mother tongue of 22% of the population; Many Jews in Israel have a familial, cultural and/or historical connection to it; It is the official language of 24 countries Surrounding Israel and the resemblance between it and Hebrew is amazing. However, the vast majority of Jews in Israel (95%!) Do not speak the language and over the years the connection of the Jewish population to it has eroded.  </p>
			</div>
			<div class="about-story-wrap mb-5 px-3">
				<p class="heading">Madrasa's vast and diverse community is the heart of the organization.</p>
				<p> Both pedagogically — through group practice and learning, and socially — by participation in activities and creating momentum that drives the broader social movement: 75,000 secular and religious, Ashkenazi and Mizrahi men and women, with diverse political opinions and of different ages. 250,000 people consume our daily Facebook page content monthly, and tens of thousands are subscribed to many more learning channels.  </p>
	  </div>
	  <div class="about-story-wrap mb-5 px-3">
			
		<p class="heading"> Our theory of change consists of five main stages, on which our activity model is based:  </p>
		<ol>
		  <li>
			<strong>Changing the discourse</strong>
			about the Arabic language and the study of it in the media and social networks, using positive and relevant educational content 
	
		  </li>
		  <li><strong>Turning hundreds of thousands of Israelis into Arabic students </strong>
			through free and high-quality online courses, language groups across the country as well as hybrid courses (tutorial+experiential learning) and broad educational projects. </li>
		  <li><strong>Students learn to communicate</strong>
			through unique learning programs that ensure high success rates and practical tools for engaging in conversation.</li>
		  <li><strong>Creating opportunities for conversation</strong>
			and social infrastructure to implement the knowledge learned</li>
		  <li><strong>Shifting how we position ourselves</strong>
			in the media through communication, trust and building momentum “Learning that strengthens communication that strengthens learning”</li>
		</ol>
	   
	  </div>
	  <div class="about-story-wrap mb-5 px-3">
				<p class="heading">Our strategy combines field activities for the general public with strategic collaborations.</p>
		<p>
			We promote courses and learning avenues for public servants (doctors, clerks, etc), corporations, universities and civil society members. We conduct long-term projects with institutions such as the Israeli Medical Association, the Ministry for Social Equality and the National Union of Israeli Students. As part of the latter collaboration, for example, every year, over 1,000 Jewish students study Arabic using our hybrid courses, with the guidance of fellow Arab students, on more than 40 campuses in the country. Starting in the 2020-2021 school year, our Arabic speaking course will be recognized as credit-worth in the Faculty of Medicine at Tel Aviv University. 
		</p>
	  </div>
	
		
		</div>
	</section>
	<section class="about-team text-center">
			<a name="team"></a>
			<div class="container">
				<h3 class="mb-4">Our Team</h3>
				<div class="row justify-content-center">
					<div class="col-lg-4 col-sm-12">
						<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/michal-rosen.png" alt="מיכל רוזן" width="185">
						<div class="about-team-content">
							<p class="h3 mt-4">Michal Rosen</p>
							<p>
							Director of digital media at Madrasa team. Holds a BA in East Asian Studies and Likes languages. Learns Arabic and engages in creating content for networks, graphic design and teaching. practices Yoga and is a creative musician.
							</p>
						</div>
					</div>		
				<div class="col-lg-4 col-sm-12">
						<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/gilad.png" alt="גילעד סוויט">
						<div class="about-team-content">
							<p class="h3 mt-4">Gilad Sevitt </p>
							<p>Founder and R&D director. Holds a BA in Sociology, Anthropology, Arabic, and Buddhism. Lives in Jerusalem and is interested in ecology, music, and (obviously) languages. </p>
						</div>
				</div>
				<!-- <div class="col-lg-4 col-sm-12">
						<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/aya.png" alt="איה ח׳לאילה">
						<div class="about-team-content">
							<p class="h3 mt-4">Aia Khalaily</p>
							<p>Translator, teacher, and content editor. MA student in International Development, likes to travel around the world and play board games!  </p>			
						</div>
				</div> -->
				<div class="col-lg-4 col-sm-12">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/daniel.png" alt="דניאל דותן">
					<div class="about-team-content">
				  		<p class="h3 mt-4">Daniel Dotan</p>
						<p>Lawyer and social activist. Founder and CEO of Madrasa. A football addict, photographer, and writer of cryptic crosswords (only in Hebrew for now), and father of Alma.</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">		
			
				
					<div class="col-lg-4 col-sm-12">
						<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/yaniv.png" alt="יניב גרשון" width="185">
						<div class="about-team-content">
							<p class="h3 mt-4">Yaniv Gershon</p>
							<p>
							Website manager and content writer at madrasa. Holds a BA in Information Science and Arabic at Bar Ilan University. Has knowledge of both Arabic and computer languages. His Holy Trinity is Arabic, technology and social change.  Likes board game and healthy food.
							</p>
						</div>
					</div>	

						<div class="col-lg-4 col-sm-12">
						<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/amit.png" alt="עמית בנדור" width="185">
						<div class="about-team-content">
							<p class="h3 mt-4">Amit Bendor</p>
							<p>
									The chief technologist of Madrasa. In daily life he is an expert on artificial intelligence and language processing. Holds an engineering degree from the Technion.
							</p>
						</div>
					</div>		

					<div class="col-lg-3 col-sm-12">
						<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/sondos.png" alt="Sondos Alhoot" width="185">
						<div class="about-team-content">
							<p class="h3 mt-4">Sondos Alhoot</p>
							<p> Teacher and Presenter in Madrasa. A graduate of the Hebrew University, teaches Arabic and Hebrew in the US, and in "Medabrot" program, works in Snunit as an Arabic field coordinator, translator and content writer and guides Arabic teachers. Her dream to have her own school. </p>
						</div>
					</div>
							
				</div>
				<div class="row justify-content-center">		

					
				<!-- <div class="col-lg-3 col-sm-12">
						<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/vered.png" alt="ורד קיסר">
						<div class="about-team-content">
							<p class="h3 mt-4">Vered Keasar</p>
							<p> 27 years old and lives in Jerusalem, content writer and administrator at Madrasa. Holds a BA in Arabic Language and literature and is currently studying for a Master’s degree in Public Health. Likes languages, nice views, and cats.
							</p>
						</div>
				</div>		
				
						<div class="col-lg-3 col-sm-12">
								<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/naam.png" alt="נע׳ם אבו ליל">
								<div class="about-team-content">
									<p class="h3 mt-4">Nagham Abu Leil</p>
									<p>Content editor at Madrasa. BA student in Middle Eastern Studies and  Linguistics. Lives in Jerusalem and is always late </p>
								</div>
							</div>
				<div class="col-lg-3 col-sm-12">
							<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/mu'tasam.png" alt="Motasem Jalal Atshan" width="185">
							<div class="about-team-content">
								<p class="h3 mt-4"> Motasem Jalal Atshan</p>
								<p> Content editor at Madrasa. Holds a BA in Arabic language and literature and Education and is currently studying for a Master’s degree in Arabic language and literature . Arabic teacher at shalem college, Cataloger in the Arabic Language Department of the National Library. He loves languages and board games. Father of two children.
</p>
							</div>
							</div> -->
					

						<div class="col-lg-3 col-sm-12">
							<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/yiftach.png" alt="Yiftach Shavit" width="185">
							<div class="about-team-content">
								<p class="h3 mt-4">Yiftach Shavit</p>
								<p>Pedagogical director and language activities coordinator. B.A in History and International Relations and M.A in History. Lives in Jerusalem, loves languages and travels and Talmud studies in his free time :-)
								</p>
							</div>
						</div>

						<div class="col-lg-3 col-sm-12">
							<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/lital.png" alt="Lital Rose" width="185">
							<div class="about-team-content">
								<p class="h3 mt-4">Lital Rose</p>
								<p> Director of Collaborations. Bachelor's degree in leadership and policy in education and Israeli studies and a graduate student in administration and public policy. Noga's mother, loves to travel and to write.
								</p>
							</div>
						</div>

						<div class="col-lg-3 col-sm-12">
							<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/shachaf.png" alt="Shahaf Barkay" width="185">
							<div class="about-team-content">
								<p class="h3 mt-4">Shahaf Barkay</p>
								<p> Administrative manager. Holds a bachelor's degree and a teaching certificate in history. Loves nature, people and animals. Believes that meeting and communication are the basis for creating a society and a good relationship. </p>
							</div>
						</div>
				    								
				</div>
			</div>
		</section>
	
	<section class="about-team text-center">
		<a name="managment"></a>
		<div class="container">
			<h3 class="mb-4">Board of Directors</h3>
			<div class="row justify-content-center">
				<div class="col-lg-4 col-sm-12">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/netanel.png" alt="נתנאל כץ">
					<div class="about-team-content">
						<p class="heading">Nathaniel Katz</p>
						<p>Chairman of the organization. Organizational psychologist, founder and co-CEO of “Machon Manhigut”. Has worked with Madrasa since it’s beginning</p>
					</div>
				</div>
				<!-- <div class="col-lg-4 col-sm-12">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/alon.png" alt="אלון פרגמן">
					<div class="about-team-content">
						<p class="heading">Dr. Alon Fragman</p>
						<p>Translator and researcher of Arabic language teaching, trains Arabic teachers at the Tel Aviv University School of Education. </p>
					</div>
				</div> -->
				<div class="col-lg-4 col-sm-12">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/daniel-s.png" alt="דניאל שפע">
					<div class="about-team-content">
						<p class="heading">Daniel Shefa</p>
						<p>Senior editor and producer at the Sports Channel</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- <section class="about-thanks text-center">
		<a name="thanks"></a>
		<div class="container">
			<h3>
				Thanks 
				<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/namaste.png" alt="Thanks">
			</h3>
			<p> Michal and Dror Winograd, Shem Barashi, Oren Feld, Michal Porat, Matan Eshed, Yuval Katz, Gal Kramarski, Noa Finkelstein, Yarden Lichterman, Shachar Gilan, Sharon Komash, Matan Serry, Mahmoud Shehada, Rajaa Haj Yahia, Maya David, Mo’tasam Bakirat (deceased), Aya Khayria, Rawi Musa, Zada Haj, Ariel Kedem, Omer Erlich, Hanan Hussein Dabah, Thana Jawabreh, Jihad Abu Snina, Ronen Rothfarb, Itai Katz, Irit Shaham, Menachem Dotan, Miri Hazut, Ohad Weber, Matan Gez, Van Leer Institute, The American Center in Jerusalem, Alliance House, Mazkeka recording studio, Carousela center,STUDIO PO , Meshulam print.
            </p>
			<a class="theme-btn-special mt-5" href="/supportus-en">And of course, everyone who supports or has supported the project over the years</a>
		</div>
	</section> -->
</main>
	
<!-- smooth scroll JS -->
<script src="/static/madrasa_theme/js/smooth-scroll.js"></script>