<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle"></%block>


<%block name="headextra">
<!-- Search Engine -->
<meta name="description" content="">
<meta name="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="قصة مدرسة">
<meta itemprop="description" content="">
<meta itemprop="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="قصة مدرسة">
<meta name="og:description" content="">
<meta name="og:image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">

</%block>




<main id="main" aria-label="Content" tabindex="-1">

	<section class="about-top">
        <div class="container text-center p-5">
			<h1 class="pt-5">قصة مدرسة</h1>
			<h3>مشروع اجتماعي-جماهيري-تقني لتعلم العربية المحكية للجميع  بالمجان.</h3>
			<p class="pb-5">هدفنا تعزيز التواصل بين قطاعات المجتمع الاسرائيلي المختلفة. التعلم بالمشروع يرتكز على العديد من الاليات: كالتعلم عن بعد في موقع مدرسة بواسطة اخذ مساقات تفاعلية, اتاحة الوصول الى  مضمون غني و متنوع في مكتبة مدرسة,  بالاضافة الى نشاطات جماهيرية يومية بواسطة شبكات التواصل الاجتماعي  ومجموعات التعلم في انحاء البلاد.</p>
		</div>
	</section>
	
	<nav>
		<ul class="about-nav nav justify-content-center">
			<li class="nav-item"><a class="nav-link active" href="#story">القصة</a></li>
			<li class="nav-item"><a class="nav-link" href="#team">الطاقم </a></li>
			<li class="nav-item"><a class="nav-link" href="#managment">اللجنة الادارية</a></li>
			<li class="nav-item"><a class="nav-link" href="#thanks">الشكر</a></li>
		</ul>
	</nav>
	
	<section class="about-story">
		<div class="about-story-img"></div>
		<a name="story"></a>
		<div class="container">
			<div class="about-story-wrap mb-5 px-3">
								<p>مع اننا نعيش في مُحيط عربي, يتكلم العربية في شرقنا الاوسط, نعيش وبيننا ٢٢٪ يتكلمون العربية, الا اننا نحن اليهود لا نستطيع التواصل باللغة العربية. كما تعلمون ان لغالبية اليهود ذوي الاصول الشرقية, هناك علاقة وطيدة باللغة العربية الا ان معظم اليهود ٩٧٪ لا يتكلم العربية ولا يستطيع التواصل من خلالها. تعلُمها يقتصر على اللغة الفصحى, بشكل غير مُلزم, مما يُصعب التحدث بها ويزيد في تعميق الفُرقة, الغُربة, العداء والتخوف بين افراد المجتمع العربي واليهودي. 
				</p>
			</div>
			<div class="about-story-wrap mb-5 px-3">
				<p class="heading">قصتنا بدأت في القدس</p>
				<p>في نهاية عام 2014، قام جيلعاد بتقديم دروس مجانية في غرفة المعيشة الخاصة بوالديه، توسل التلاميذ اليه من اجل ان يقوم بتحميل مقاطع الفيديو على شبكة الانترنت... وكما يقولون، "الباقي اصبح من الماضي"! قامت مجموعة من الأصدقاء بالتكاتف سويًا من أجل تصوير مقاطع الفيديو، تحريرها، كتابتها وتحميلها على الشبكة، وهكذا ولدا موقع "مدرسة" الأول وصفحة الفيسبوك - مفتوحان ومتاحان للجميع وبالمجان. النجاح كان فوريًا. خلال فترة زمنية قصيرة، تعلّم الآلاف من الأشخاص عن طريق الموقع، وقمنا نحن بمواصلة كتابة الدروس والمحتويات الأخرى على أساس تطوعي، وفقًا لمطالب جمهورنا الكبير. بحلول عام 2016، تحوّلنا لجمعية رسمية، وفي عام 2017 قررنا المضي قُدمًا إلى المرحلة التالية – ألا وهي تطوير مساق تفاعلي جديد والذي يتلاءم مع احتياجات طلابنا, الذي سيكون بمثابة طريق يسيرة لكل شخص للوصول إلى المحتوى التعليمي – بل ليكون أيضًا اطارًا تعليميًا يمكّنهم من الاستمرار بتعلم اللغة واستخدامها المستمر.
				</p>
			</div>
			<div class="about-story-wrap mb-5 px-3">
				<p class="heading">لا يقتصر هدفنا من هذه المشروع على التواصل فقط
					هذا المشروع يعبر عن تصوّرنا المجتمعي ورؤيتنا التربوية
					</p>
				<p> من هنا انبثق خيار تعليم اللغة المحكية، باللهجة الفلسطينية والتركيز على المضامين اليومية. من هنا أيضًا نستمد طريقتنا، والتي تستهدف الطلاب الذين يتعلمون "على الطريق"، والتحديات التي تميزهم – كالقدرة على المثابرة والحاجة إلى الممارسة المستمرة. ولذلك فإن مقاطع الفيديو قصيرة وجذابة، وهكذا فإننا نؤكد بشدة على الممارسة واستخدام الألعاب بمختلف أنواعها.
					ً.
					</p>
				<p> أهم عنصر في التعامل مع عملية التعلم هو جمهور المتعلمين لدينا. عندما يتدربون سويًا في كل مكان ومن كل مكان (فيسبوك، واتساب، نيوزلتر، مجموعات تعليمية، مجموعات حوار (تشات)، منتديات وما الى ذلك) حتى يعتادوا أكثر،و يتمكنوا أكثر من الممارسة سويا</p>
			</div>
			<div class="about-story-wrap mb-5 px-3">
				<p class="heading">المبادرة تنمو بوتيرة مذهلة</p>بالإضافة إلى تطوير مساقات إضافية (والتي نأمل أن تتم اضافتها للموقع خلال عام 2019)، فإننا نعمل على تطوير مساحات التي ستمكّن جمهور المتعلمين من ممارسة اللغة والتواصل من خلاها - جلسات مناقشة وممارسة (التي تستند على مضمون مساقنا) والتي نخطط لافتتاحها في المدن الرئيسية في البلاد: سيتمكن الطلاب من التحدث والتواصل مع بعضهم البعض ومع متحدثي اللغة من جميع أنحاء البلاد. لكن هذا لن ينتهي هنا. نحن نعمل على إنشاء مجموعات تعليمية في أهم المجالات في المجتمع -كبار رجال الاعمال ، الموظفين (العاملين في مجال الصحة، على سبيل المثال) والنشطاء الاجتماعيين.
				<p></p>
			</div>
		</div>
	</section>
	
	<section class="about-team text-center">
		<a name="team"></a>
		<div class="container">
			<h3 class="mb-4">הצוות</h3>
			<div class="about-team-wrap d-flex justify-content-center">
					<div class="about-team-item">
							<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/michal-rosen.png" alt="מיכל רוזן" width="185">
							<div class="about-team-content">
								<p class="heading">ميخال روزين</p>
								<p>مديرة وسائل الاعلام الجديدة في طاقم مدرسة. تحمل اللقب الاول في دراسات شرق آسيا وتحب اللغات. تتعلم اللغة العربية وتشارك في إنشاء محتوى للشبكات للتصميم الغرافيكي وللتعليم. تمارس اليوغا وموسيقية مبدعة.
                </p>
							</div>
						</div>		
			<div class="about-team-item">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/gilad.png" alt="גילעד סוויט">
					<div class="about-team-content">
						<p class="heading">جلعاد سفيط</p>
						<p>مؤسس و مدير مهني. يحمل اللقب الاول في علم الاجتماع  وعلم الانسان, العربية والبوذية. يعيش في القدس, يحب اللغات, علوم البيئة والموسيقى</p>
					</div>
				</div>
			<div class="about-team-item">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/aya.png" alt="איה ח׳לאילה">
					<div class="about-team-content">
						<p class="heading">اية خلايلة</p>
						<p>مترجمة, معلمة ومحررة محتوى. طالبة للقب الثاني في التطوير الدولي, ناشطة اجتماعية, تحب السفر حول العالم وتحب العاب التفكير .
						</p>
					</div>
				</div>
				
			
			</div>
			<div class="about-team-wrap d-flex justify-content-center">		
			<div class="about-team-item">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/daniel.png" alt="דניאל דותן">
					<div class="about-team-content">
						<p class="heading">دانيال دوتان</p>
						<p> محامي وناشط اجتامعي. مؤسس و مدير عام للجمعية. يحب كرة القدم بشدة, يهوى التصوير, يكتب الغاز الكلمات المتقاطعة التي تعتمد على المنطق (بالعبرية حاليا), وهو والد عالما.</p>
					</div>
			</div>
			<div class="about-team-item">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/vered.png" alt="ורד קיסר">
					<div class="about-team-content">
						<p class="heading">فيرد كيسار</p>
						<p>ابنة ٢٧ سنه من القدس, مركزة ادارية في الجمعية, تكتب المواد التعليمية في الموقع. خريجة اللقب الاول في اللغة والادب العربي, تتعلم للقب الثاني في سلامة الجمهور. تحب اللغات, المناظر الطبيعية والقطط.
						</p>
					</div>
				</div>
				<div class="about-team-item">
						<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/yaniv.png" alt="יניב גרשון" width="185">
						<div class="about-team-content">
							<p class="heading">يانيف جرشون</p>
							<p>مدير الموقع وكاتب محتوى في مدرسة. يحمل اللقب الاول في علوم المعلومات واللغة العربية من جامعة بار إيلان. لديه معرفة باللغة العربية ولغات الحاسوب. الثالوث المقدس بالنسبة إليه هو اللغة العربية والتكنولوجيا والتغيير الاجتماعي. يحب لعب الطاولة والطعام الصحي.
							</p>
						</div>
				</div>			
			</div>
			<div class="about-team-wrap d-flex justify-content-center">		
					<div class="about-team-item">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/naam.png" alt="נע׳ם אבו ליל">
					<div class="about-team-content">
						<p class="heading">نغم ابو ليل</p>
						<p>نغم ابو ليل محررة محتوى في مدرسة. طالبة للقب الاول في الشرق الاوسط و التدقيق اللغوي. تعيش في القدس و تحب استقبال الضيوف بشكل دائم.
						</p>
					</div>
				</div>
				
				<div class="about-team-item">
					<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/amit.png" alt="עמית בנדור" width="185">
					<div class="about-team-content">
						<p class="heading">عاميت بندور</p>
						<p>رجل التكنولوجيا (الرئيسي)  في مدرسة. في الحياة اليومية هو خبير في الذكاء الاصطناعي ومعالجة اللغة، يحمل شهادة هندسة من التخنيون.
						</p>
					</div>
				</div>		
			<div class="about-team-item">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/thanaajawaabre.png" alt="ת'נא ג'ואברי">
					<div class="about-team-content">
						<p class="heading">ثناء جوابرة</p>
						<p>ناشطة اجتماعية ومركزة وحدة دعم الطلاب العرب في كلية شنكار ومترجمة بطاقم الترجمة في مدرسة. تحب الترجمة للعربية ومقارنة النص العربي مع النص العبري. من أكثر الاشياء اثارة في نظرها هو الترجمة للعربية العامية بحيث تكون مفهومة للعرب الذين يتحدثون لهجات عربية مختلفة انحاء العالم. ليس بالامر السهل ولكنه ممتع
						</p>
					</div>
				</div>							
			</div>
		</div>
	</section>
	
	<section class="about-team text-center">
		<a name="managment"></a>
		<div class="container">
			<h3 class="mb-4">اللجنة الادارية</h3>
			<div class="about-team-wrap d-flex justify-content-center">
				<div class="about-team-item">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/netanel.png" alt="נתנאל כץ">
					<div class="about-team-content">
						<p class="heading">ناتنئل كاتس </p>
						<p>رئيس الجمعية, عالم نفس تنظيمي, مؤسس ورئيس تنفيذي مشترك في معهد منهيجوت (قيادة). قام بمرافقة المشروع منذ بداياته.
						</p>
					</div>
				</div>
				<div class="about-team-item">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/alon.png" alt="אלון פרגמן">
					<div class="about-team-content">
						<p class="heading"> الون فرجمان </p>
						<p>يعمل في الترجمة, في بحث اللغة العربية وتدريب مُدرسين للغة العربية في المدارس في جامعة تل ابيب. 
						</p>
					</div>
				</div>
				<div class="about-team-item">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/daniel-s.png" alt="דניאל שפע">
					<div class="about-team-content">
						<p class="heading">دانيال شفع </p>
						<p>محرر كبير ومنتج في قناة الرياضة.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="about-thanks text-center">
		<a name="thanks"></a>
		<div class="container">
			<h3>
				الشكر موجه الى 
				<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/namaste.png" alt="תודה">
			</h3>
			<p>شيم براشي، اورن فيلد، ميخال بورات، ماتان ايشد، يوفال كاتس، جال كرامارسكي، نوعة فينكلشتين، يردين ليختيرمان، شحر جيلان, شرون قومش, متان سيري, محمود شحادة, سميره طافش, رجاء حاج يحيا, ماية دافيد, معتصم بكيرات, اية خيرية, راوي موسا, زادة حاج, اريئيل قيدم, عومر ارليك, حنان حسين دباح, جهاد ابو سنينة, رونن روطفرب, ايتي كاتس, عيريت شاحم, مناحم دوتن, ميري حزوت, اوهد فيبر, متان جز، معهد فان لير, المركز الامريكي في القدس, بيت اليانس, ستوديو هامزكاكاء,ستوديو بو ,مركز قروسلة, مشولم برينط, ميخال ودرور فينوجراد.
			</p>
			<a class="theme-btn-special mt-5" href="/supportus">بالاضافة الى كل الاشخاص الذين يدعمون المشروع
			</a>
		</div>
	</section>
</main>
	
<!-- smooth scroll JS -->
<script src="/static/marvel/js/smooth-scroll.js"></script>