<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>
<%block name="headextra">

<style>
#honor-text p, #honor-text li{
   font-size:20px;
}
#honor-text p{
  line-height:37px;
}
#honor-text li{
  line-height:32px;
}
#honor-text h1{
    margin-bottom:20px;
}
</style>

</%block>


<main id="main" aria-label="Content" tabindex="-1">
    <section id="honor-text" dir="rtl" class="container about line-height text-left">
        
       <h1 class=".h1 text-center">תנאי שימוש &ndash; אתר מדרסה</h1>
       <h2>א. מבוא</h2>
       <p>שלום רב וברוך הבא לאתר האינטרנט של "מדרסה", המאפשר למידה מקוונת של השפה הערבית באמצעות קורס אינטראקטיבי מתקדם, וכן שימוש בתכנים נוספים, שיתוף דעות וחוויות בקשר לשפה הערבית.</p>
       <p>מדרסה &ndash; בית ספר לערבית (ע"ר), הינה עמותה רשומה בהתאם לחוק העמותות, תש"ם-1980, המקיימת מיזם חברתי-קהילתי-טכנולוגי ללימודי ערבית מדוברת במטרה לקדם תקשורת בין מגזרית במדינת ישראל.</p>
       <p>עלייך לקרוא את תנאי שימוש אלו בעיון, בטרם שימוש באתר. כל שימוש באתר כפוף לתנאי שימוש אלו, למדיניות הפרטיות ולהוראות הדין הרלוונטי. ובעצם השימוש באתר, אתה מביע הסכמתך לאמור בהם. במידה ואינך מסכים לאיזה מתנאי השימוש, אנא הימנע משימוש באתר.</p>
       <p>מבוא זה מהווה חלק בלתי נפרד מתנאי השימוש.</p>
       <p>תנאי השימוש הינם הסכם משפטי מחייב בין כל משתמש באתר לבין מדרסה, ואין לראות בו הסכם לטובת צד שלישי כלשהו.</p>
        <ul >
        <li>תנאי השימוש מופנים ומתייחסים לנשים וגברים כאחד, ומנוסחים בלשון זכר למען הנוחות בלבד.</li>
        <li>בכל מקום שבו הוראות תנאי השימוש מופנות כלפי יחיד, יחולו הוראות אלו גם כלפי רבים, ולהפך.</li>
        <li>כותרות הסעיפים לתנאי השימוש הינן לצורכי התמצאות בלבד, ולא ישמשו לפרשנותו.</li>
        <li>בכל מקרה של סתירה בין תנאי השימוש לפרסומים אחרים של מדרסה, לרבות בעיתונות הכתובה ו/או ברדיו ו/או באתרי אינטרנט אחרים ו/או במדיה חברתית (כגון פייסבוק, אינסטגרם, ניוזלטר, פורומים וכדומה), יגברו הוראות תנאי השימוש אלו כפי שיתעדכנו מעת לעת.</li>
        </ul>
       <p>בתנאי שימוש אלה:</p>
       <p><strong>"</strong><strong>האתר"</strong> &ndash; אתר האינטרנט שכתובתו <a href="https://madrasafree.com">https://madrasafree.com</a>.</p>
       <p>"<strong>מדרסה</strong>"- בית ספר לערבית (ע"ר) - עמותה, להנגשתהשפה הערבית לציבור הישראלי (מ.ע580616498) ו/או מי מטעמה.</p>
       <p><strong>"</strong><strong>כוח עליון"</strong>&nbsp;&ndash; כל גורם שאיננו בשליטתה הישירה של מדרסה, ואין לה ו/או לא אמורה להיות לה אפשרות סבירה להשפיע על גורם זה. לרבות אך לא רק: אסון טבע ו/או פגיעה ברשת החשמל ו/או פגיעה ברשת האינטרנט ו/או תקלה אצל ספק האינטרנט של המשתמש ו/או תקלה אצל מדרסהו/או תקלה אצל ספק האינטרנט של מדרסהו/או פגיעה ברשתות התקשורת.</p>
       <p><strong>"</strong><strong>שימוש באתר"</strong>&nbsp;- גלישה ו/או צפייה באתר ו/או באחד או יותר מדפי האינטרנט שכלולים ומקושרים באתר (באופן ישיר או עקיף, ולרבות התכנים הכלולים בהם, כולם או חלקם), שימוש בתכניםהמופיעיםבאתר , וכן כל פעילות אחרת שניתן לבצע במסגרת האתר ו/או בקשר לאתר, בכל אמצעי תקשורת שהוא.</p>
       <p>"<strong>מטרת שימוש</strong>"- המטרה שלשמה נעשה השימוש באתר.</p>
       <p>"<strong>שימוש פרטי"</strong>&ndash; שימוש המיועד למטרות פרטיות ואישיות בלבד של המשתמש.</p>
       <p><strong>"שימוש עסקי</strong>"- שימוש שאינו לשימוש פרטי.</p>
       <h2>ב. השימוש באתר</h2>
        <ol >
        <li>השימוש באתר, עשוי להיות כרוך ברישום ומסירת פרטים ומידע אישי לצורך הרשמה לקורס מקוון. שים לב! אינך חייב על-פי חוק למסור את הפרטים והמידע האישי. מסירתם תלויה בהסכמתך וברצונך החופשי בלבד. מסירת פרטים שגויים, או אי מסירת מלוא הפרטים הנדרשים, עלולים למנוע ממך את האפשרות להשלים את הרישום או להשתמש בחלק משירותי האתר, לפגוע באיכות השירות הניתן לך או באפשרות לקבלו, וכן לפגוע ביכולת ליצור איתך קשר, במידת הצורך.</li>
        <li><strong>היתר שימוש (פרטי): השימוש באתר ובתכנים המוצעים בו הינו חינמי ומיועד למטרת שימוש פרטי. אין להשתמש באתר ובתכנים המוצעים בו לכל מטרה, בין מסחרית ובין שאינה מסחרית, שאינה לצורך שימוש אישי ופרטי.</strong></li>
        <li><strong>ככל שברצונך לעשות בשירות שימוש עסקי (לדוגמא, כחלק מהדרכת עובדים בחברה), חינוכי (לדוגמא, כחלק ממערכי שיעור של קורס או שיעור המועבר לסטודנטים / תלמידים) או שימוש אחר שאינו שימוש פרטי ואישי, נבקשך לפנות אלינו בנושא, אלכתובתהדוא"ל: </strong><strong>Daniel@madrasafree.com</strong><strong>&nbsp;על מנת שנוכל לבחון את פנייתך</strong>.</li>
        <li>תנאי שימוש אלה, ביחד עם מדיניות הפרטיות של האתר, הינם הבסיס לשימוש באתר, וכל שימוש באתר ובתכניו, מעבר לאישור תנאי שימוש אלו, כפוף ומותנה גם להסכמתך למדינות הפרטיות של האתר במלואה. לעיון במדיניות הפרטיות של האתר הקש כאן.</li>
        <li>מדרסה עשויה ויכולה לשנות (בדרך של שינוי, מחיקה, הסרה, הורדה, הוספה, לרבות הוספת תנאים) את תנאי השימוש באתר מעת לעת ועל פי שיקול דעתה הבלעדי בכפוף להוראות הדין. השימוש באתר יהיה כפוף לתנאים החדשים לאחר השינוי ולפיכך עליך לקרוא את תנאי השימוש בכל פעם שהנך עושה שימוש באתר.</li>
        <li>מדרסה שומרת לעצמה את הזכות לגבות תשלום בגין שימוש באתר בכפוף לכך שגביית תשלום כאמור תפורסם מראש ותאושר מראש על ידי המשתמש.</li>
        <li>לצורך שימוש בקורס המקוון המוצע על ידי האתר, עלייך להירשם לאתר על ידי לחיצה על קישור ה"כניסה" ולאחר מכן הזדהות עם שם משתמש וסיסמא למשתמש רשום או לערוך רישום לאתר על ידי לחיצה על הקישור "צור חשבון".&nbsp;<strong>סימון התיבות, מילוי הפרטים בהליך ההרשמה ולחיצה על כפתור חשבון חדש, מהווה את אישורך כי קראת את כלל התנאים המופיעים בהליך ההרשמה, בתנאי השימוש ובמדיניות הפרטיות, הבנת אותם והנך מסכים להם</strong>.</li>
        <li>אי-תקפותה ו/או ביטולה ו/או בטלותה של הוראה כלשהי מהוראות תנאי השימוש ו/או התנאים הנוספים לא תפגע בתוקף המלא של כל יתר ההוראות.</li>
        <li>למניעת ספק, האמור בתנאי שימוש אלו, הנו בנוסף לכל זכות המוקנית למדרסה על פי כל דין.</li>
        <li>מובהר כי בכל מקום בתנאי השימוש בו נאמר או משתמע כי מדרסה תבצע דבר מסוים ו/או תחליט בעניין מסוים ו/או תקבע דבר מסוים, או בו מוקנית למדרסה, במפורש או מכללא, הזכות, הסמכות ו/או שיקול הדעת לבצע דבר מסוים, תפעל מדרסה (או תחליט שלא לפעול) בהתאם לשיקול דעתה הבלעדי וללא חובת הנמקה, ופעולתה של מדרסה תהא סופית ובלתי ניתנת לערעור, ולא תהא לך כל תביעה ו/או טענה ו/או דרישה בגין פעילותה של מדרסה (או אי פעילותה) כאמור.</li>
        </ol>
       <p><u>מי רשאי להשתמש באתר</u></p>
        <ol  start="11">
        <li>רשאי להירשם ולעשות שימוש באתר כל אדם העומד בכל התנאים וההגבלות הבאות:
        <ul>
        <li>כל מי שבעל כשירות משפטית.</li>
        <li>בעל תיבת דואר אלקטרוני.</li>
        </ul>
        </li>
        <li>האתר מוגש לך AS-IS נכון למועד כניסתך לאתר. יחד עם זאת, השימוש באתר איננו מבטיח כי כל מערכותיו וחלקיו יהיו זמינים ושמישים לכלל המשתמשים.</li>
        <li>הנך מצהיר כי כל מידע שתמסור באתר הינו נכון ומדויק.</li>
        <li>הנך מצהיר כי המידע שנמסר על ידך נמסר מרצונך החופשי ללא שום כפיה או שידול.</li>
        <li>הנך מצהיר ומתחייב כי לא תעשה שימוש באתר שלא למטרותיו וכן לא תעשה בו שימוש לא חוקי ולמטרות פסולות, ובין היתר הנך מתחייב כי לא תעשה בו שימוש לצורך:
        <ul>
        <li>העלאת תכנים ו/או מידע שאין לך בהם זכות שימוש ו/או אינם שייכים לך ו/או שהם עלולים להפר זכויות קנייניות מכל מין וסוג שהוא (לרבות: זכות יוצרים, פטנטים, סימני מסחר, מדגמים, זכות לפרטיות וכיוצא באלה).</li>
        <li>הפרעה, שיבוש, הגבלה או מניעת השימוש באתר, בין בעבור מדרסה ובין למשתמשים אחרים.</li>
        <li>העלאת תכנים ו/או מידע במטרה לפרסמם (ואף אם אלו הועלו שלא למטרות רווח).</li>
        <li>העלאת תכנים ו/או מידע שיש בו כדי לפגוע, להעליב, להוציא דיבה, להשמיץ, לאיים, או שהוא עלול להוות חומר פוגעני, וולגרי, או פורנוגרפי או שהוא אסור בפרסום או לשימוש.</li>
        <li>העלאת תכנים ו/או מידע שאינם מדויקים ו/או כוזבים ו/או מסולפים ו/או מטעים ו/או שקריים.</li>
        <li>העלאת תכנים ו/או מידע שיש בו כדי להזיק לאתר ו/או למשתמשים אחרים, כגון תוכנות מזיקות, שורות קוד, וירוסים, "סוס טרויאני" או כל תוכנה אחרת שיש בה כדי לפגוע במהלך התקין של האתר ו/או השימוש בו ו/או השימוש למשתמשים אחרים ו/או שעלול לגרום נזק לאתר ו/או למשתמשים בו ו/או לציוד ולמחשבים.</li>
        <li>לשבש ו/או להאט ו/או למנוע תקשורת בין האתר לבין המשתמשים בו ו/או לכל צד שלישי אחר ו/או תקשורת בתוך האתר עצמו ו/או את מהלכו התקין של האתר.</li>
        <li>קבלת מידע שאינך מורשה לצפות בו ו/או כניסה לא חוקית לאזורים ו/או חלקים באתר שאינך מורשה להיכנס אליהם ו/או קבלת מידע ממחשבים אחרים ו/או משתמשים אחרים (לרבות מידע אישי, סיסמאות ודוא"ל(.</li>
        <li>שימוש ברובוטים או תוכנות טקסט אחרות מכל מין וסוג שהוא, לרבות כאלה שנועדו לשם הכנסת מידע ו/או קבלת מידע באופן אוטומטי.</li>
        <li>לרשום אחרים ולפתוח עבורם חשבונות וסיסמאות.</li>
        <li>לשדל, לסייע או לעזור לאחר על מנת לעשות כל פעולה שאיננה מורשית באתר, לרבות הפעולות המנויות לעיל.</li>
        </ul>
        </li>
        <li>מדרסה שומרת לעצמה את הזכות, על פי שיקול דעתה הבלעדי למנוע כל פעילות אסורה באתר, לרבות מניעת גישה לאתר ממשתמשים רשומים ומחיקת תכנים שהועלו על ידי משתמשיםרשומים, וזאת מבלי לגרוע מכל סעד אחר העומד לה על פי כל דין.</li>
        <li>מדרסה עושה כל מאמץ לנטר את התכנים המובאים באתר, עם זאת אינה יכולה להיות אחראית לתכנים שלא הועלו על ידה ולכן מחובת המשתמש לוודא את נכונותם בטרם ביצוע העלאת או עשיית שימוש בתכנים האמורים.</li>
        <li>מדרסה שומרת לעצמה את הזכות למנוע את הגישה לאתר ו/או לחלקים ממנו, לכל משתמש, לרבות משתמשים רשומים ו/או כאלה שעשו שימוש בעבר באתר, הכל לפי שיקול דעתה הבלעדי וללא צורך בהתראה מוקדמת.</li>
        <li>מבלי לגרוע מהאמור לעיל, מדרסה עשויה למנוע שימוש באתר, למשתמש, משתמש רשום או לכלל הציבור בכל מקרה בו:
        <ul>
        <li>הופר תנאי מתנאי השימוש באתר.</li>
        <li>נמסרו פרטים שאינם נכונים ו/או מלאים ו/או מסירת פרטים שגויים ו/או כוזבים על ידי משתמש.</li>
        <li>בוצע מעשה או מחדל שיש בו כדי להביא לחשש לפגיעה במדרסה, באתר, בציוד מדרסה, במידע המצוי במדרסה ו/או במשתמשים אחרים.</li>
        </ul>
        </li>
        <li>מדרסה רשאית להפסיק את פעילות האתר, כולו או חלקו, באופן זמניאו לצמיתות, להפסיק את מתן השירותים ו/או הצגת התכניםשבאתר, כולם או חלקם, לצמצמם ו/או להגבילם כל זאת מבלי כל הודעה.</li>
        </ol>
       <p><u>רישום לאתר</u></p>
        <ol  start="21">
        <li>כאמור לעיל, חלק מתכני האתר מיועדים למשתמשים רשומים בלבד. במקרה ותחליט להירשם לאתר תיצור לעצמך שם משתמש וסיסמה. הנך מצהיר כי שימושך בשם המשתמש והסיסמה יהא אישי וכי הנך מתחייב לנקוט בכל האמצעים הנדרשים לצורך שמירת פרטי זיהוי אלו באופן סודי וראוי (לרבות אי שמירת הפרטים במחשב ואי מסירתם לגורם אחר) וכי לא תאפשר לכל צד שלישי לעשות בו שימוש. מדרסה לא תישא באחריות כלשהי, לכל פגיעה ו/או נזק בעקבות שימוש של צד שלישי כלשהו, בשם המשתמש או סיסמה של המשתמשים באתר.</li>
        </ol>
       <p><strong>&nbsp;</strong><u>תרומות ומדיניות ביטול תרומה</u></p>
        <ol  start="22">
        <li>מדרסה מאפשרת באמצעות אתר זה לתרום כסף לטובת פעילות העמותה - ניתן לשלם בכרטיס אשראי בתשלום אחד או בתשלומים עיתיים, בתרומה חודשית מתחדשת, וכמו כן ניתן לשלם באמצעות PAYPAL.</li>
        <li>בעת מתן תרומה באמצעות כרטיס אשראי תתבצע בדיקת הכרטיס מול חברת האשראי והגולש יקבל תשובה מידית באשר למצב העסקה והאם התקבלה או נדחתה.</li>
        <li>פעולת התרומה באמצעות האתר מאובטחת בהתאם לתקינה הנדרשת על ידי חברות הסליקה בישראל.</li>
        <li>לאחר אישור התרומה, תשלח אל התורם הודעת דואר אלקטרונית ובה קבלה בגין התרומה שבוצעה על ידו.</li>
        </ol>
       <p><u>מדיניות ביטול תרומה / עסקה</u></p>
        <ol  start="26">
        <li>מבצע תרומה יהיה רשאי לפנות לעמותה בבקשה לשינוי פרטי החיוב / ביטול עסקה. ניתן לבטל עסקה בתוך 14יום מיום שבוצעה פעולת התרומה באינטרנט או בטלפון ע&rdquo;פ חוק הגנת הצרכן 1981.העמותה תבצע את השינוי הנדרש בהתאם למדיניות הנהוגה באותה עת בחברת האשראי. במידה וחברת האשראי תחייב את העמותה בעמלה בגין הפעולה, יחויב מבצע הפעולה בעמלה כאמור. העמותה תבצע ביטול או שינוי סכום תרומה על פי בקשת התורם</li>
        <li>אין למסור פרטים כוזבים. מילוי פרטים כוזבים בטופס התרומה או מתן פרטים כאמור בתרומה טלפונית מהווים עבירה פלילית. גולש שיעבור עבירה זו צפוי להליכים משפטיים, פליליים ואזרחיים.</li>
        <li>אם עסקה לא אושרה על ידי חברת האשראי, יקבל מבצע הפעולה הודעה בהתאם. כדי להשלים את הפעולה על מבצע הפעולה ליצור קשר טלפוני עם העמותה, במס' טלפון 7312698- 050</li>
        </ol>
       <p><u>שימוש במידע</u></p>
        <ol  start="29">
        <li>הנך מצהיר כי מדרסה רשאית להשתמש במידע (כהגדרת מונח זה במדיניות הפרטיות) בהתאם לתנאי השימושומדיניות הפרטיות.</li>
        <li>ככל שתבחר לתמוך במדרסה ולהעניק תרומה, בהתאם למפורט באתר, הנך מסכים כי מדרסה תעשה, ככל שתידרש לכך, שימוש בפרטי כרטיס האשראי ותעודת הזהות שהזנת /מסרת לצורך פנייה לחברת כרטיסי האשראי הרלוונטית על מנת לאמת את זהותך וכן לצורך השלמת הליך מתן התרומה.</li>
        <li><strong>הנך מאשר כי אתה מסכים לקבלת דברי פרסומת כאמור בסעיף 30א. לחוק התקשורת (בזק ושידורים), התשמ"ב &ndash; 1982 ("חוק התקשורת") וכן לקבלת דיוור ישיר על פי חוק הגנת הפרטיות התשמ"א-1981 ("חוק הגנת הפרטיות") ממדרסה.</strong></li>
        <li><strong>מבלי לגרוע מכלליות האמור לעיל, הנך מסכים ומאשר לקבל עדכונים, הטבות, מבצעים, פרסומות, מידע שיווקי, דיוור ישיר ו/או הצעות לרכישת מוצרים או שירותים ממדרסה לנייד, למייל, באמצעות פקסימיליה, מערכת חיוג אוטומטי, הודעה אלקטרונית, הודעת מסר קצר ו/או כל אמצעי תקשורת אחר.</strong></li>
        <li><strong>בכל מקרה בו תחליט שאינך מעוניין לקבל את הדיוור הישיר או הפרסומות כאמור, עליך להודיע למדרסה על כך בכתב באמצעות הדוא"ל</strong><strong><a href="mailto:free@gmail.com">free@gmail.com</a> </strong><strong>או בכתב לכתובת רמב"ן 39 ,ירושלים עבור "עמותת מדרסה &ndash; בית ספר לערבית (ע"ר)". ניתן לקרוא עלינו פרטים נוספים באתר העמותות של ישראל &ndash; גיידסטאר.</strong></li>
        </ol>
       <p><u>אבטחת מידע</u></p>
        <ol  start="34">
        <li>מדרסה עושה כל מאמץ לאבטח את המידע באתר, בהתאם לנהוג ולמקובל באתרים מסוג זה. מאחר ומדובר בביצוע פעולות בסביבה מקוונת, אין באפשרותה של מדרסה להבטיח חסינות מוחלטת מפני חדירות, ומדרסה איננה מבטיחה ואיננה ערבה לכך, כי מסדי הנתונים שלה, לרבות מידע שאתה מסרת, לא יפרצו וכי מידע כזה יגיע לצד ג' שאיננו מורשה וכל עוד היא תנקוט באמצעים סבירים היא לא תהיה אחראית לכל נזק, מכל מין וסוג שהוא, שייגרם לך כתוצאה מפריצה למסדי הנתונים שלה ו/או לאתר ו/או למחשביה.</li>
        <li>העברת מידע בדבר אמצעי תשלום ופרטי כרטיסי אשראי באתר נשמר על ידי מדרסה באמצעי אבטחה נדרשים ולא יעשה על ידי מדרסה שימוש בפרטי מידע אלה שאיננו למטרות האמורות בתנאי שימוש אלה. מדרסה לא תהיה אחראית לכל נזק מכל מין וסוג שהוא &ndash; לרבות שימוש בכרטיס האשראי שלך באופן שאיננו מורשה ושאינו חוקי &ndash; כתוצאה ממקרים שאינם בשליטת מדרסה ו/או מקרים שהם בגדר כוח עליון ו/או כתוצאה מאובדן המידע.</li>
        </ol>
       <p><u>קנין רוחני</u></p>
        <ol  start="36">
        <li>כל המידע המצוי באתר הינו רכושה הבלעדי של מדרסה. לעניין זה מידע &ndash; כל חומר ונתונים ובכלל זה מידע הנוגע לפעילויות העמותה, תוכנות מחשב ושורות קוד, נוסחאות, תכנים, תמונות, סרטונים, מילים, ביטויים, ציורים, שרטוטים, רישומים, סרטים, אודיו ולרבות עיצובם.</li>
        <li>האתר כולל מידע המהווה קנין רוחני של מדרסה ו/או של צדדים שלישיים ובכלל זה פטנטים, זכויות יוצרים, סודות מסחריים, מדגמים, סימני מסחר, תוכנות מחשב ושורות קוד, נוסחאות, תמונות, מילים, ביטויים, ציורים, שרטוטים, רישומים, סרטים, אודיו וכיוצא באלה.</li>
        <li>מבלי לגרוע מכל הוראה אחרת תחת תנאי שימוש אלו, המידע מוצג לשימושך האישי בלבד וחל איסור לעשות כל פעולה במידע &ndash; כולו או חלקו &ndash; שיש בה כדי לפגוע בזכויות קנין אלה ולרבות, להעתיק, לשכפל, להפיץ, להעביר, להציג, לפרסם, לשדר, להציג, לערוך את המידע, לשנותו, לשפרו, ליצור יצירה נגזרת, למכור ו/או לסחור בו.</li>
        </ol>
       <p><u>אחריות</u></p>
        <ol  start="39">
        <li>מדרסה אינה מתחייבת לפעילות רציפה של האתר. ייתכן שפעילות האתר תשובש או תופסק מטעמים שונים, והנך מצהיר כי לא תהא לך כל טענה למדרסה בקשר לכך.</li>
        <li>מבלי לגרוע מכלליות האמור, מדרסה רשאית, לפי שיקול דעתה הבלעדי, לבצע פעולות תחזוקה ו/או ריענון לאתר ו/או שינוי עיצוב לאתר ו/או כל פעולה אחרת שייתכן ותמנע את הגישה לאתר.</li>
        <li>אופן הצגת התכנים באתר כפוף לשיקול דעתה הבלעדי של מדרסה.</li>
        <li>האתר על תכניו והמידע המצוי בו נועד לשימושך כפי שהוא. על אף שמדרסה עושה כפי יכולתה על מנת שהמידע והתכנים באתר יהיו אמינים, נכונים ומדויקים עשויים ליפול שגיאות ו/או אי דיוקים ו/או שיבושים במידע ובתכנים. מדרסה לא תהיה אחראית לכל נזק, מכל מין וסוג שהוא, שייגרם לך כתוצאה מכך.</li>
        <li>באתר מצויים קישורים לאתרים חיצוניים, כמו גם שחלק מהמידע המופיע באתר נסמך על מידע המגיע מצדדים שלישיים. מדרסה איננה ערבה לכך, כי המידע המצוי אצל צדדים שלישיים הינו אמין ומדויק והנך יודע כי המדרסה לא בדקה את אמינות המידע של אותם צדדים שלישיים ונכונותו. מדרסה איננה אחראית בכל אופן למידע זה והיא לא תהיה אחראית לכל נזק, מכל מין וסוג שהוא שייגרם לך כתוצאה מהסתמכות על מידע זה.</li>
        <li>באתר מצויתוכן שיווקי (כגון: באנרים, פרסומות וכדומה)של מפרסמים חיצוניים.מדרסה לא תהיה אחראית לכל נזק מכל מין וסוג שהוא שייגרם לך ו/או למי מטעמך כתוצאה מתוכן שיווקי באתר.</li>
        <li>מדרסה איננה ערבה לכך כי במהלך השימוש באתר תהיה התקשורת עמך או עם משתמשים אחריםתקינה ואיכותית. מדרסה לא תהיה אחראית לנזק שייגרם לך כתוצאה מאי יכולת לגשת לאתר, כתוצאה מניתוקים, תקלות טכניות של ספקי האינטרנט, בעיות במערכות המחשוב ו/או שיבושי קשר במהלך ההתקשרות עם האתר ו/או בגין הפסקת הפעילות באתר &ndash; כולו או חלקו &ndash; ו/או בגין הפסקת מתן השירותים באתר &ndash; כולם או חלקם.</li>
        <li>מדרסה לא תהיה אחראית לכל נזק מכל מין וסוג שהוא שייגרם לך ו/או למחשב ו/או לציוד אחר כתוצאה מהשימוש באתר ו/או כתוצאה משמירת מידע במחשבך, לרבות תוכנות ושורות קוד, אשר הגיעו ממחשביה של מדרסה.</li>
        <li>במידה ואינך מרוצה מהאתר הסעד היחיד והבלעדי העומד לרשותך הוא הפסקת השימוש באתר.</li>
        <li>האמור באתר ובתכניו ולרבות המידע הכלול באתראיננו מהווה הצעה, שידול ו/או ייעוץ לביצוע עסקאות עם מדרסה ו/או עם כל צד ג' שהוא.</li>
        <li>כל קשר וירטואלי או אחר שלך או צד ג' מטעמך עם מי מהמשתמשים האחרים באתר, וזאת בין בהתכתבות ו/או בצ'ט ו/או במסגרת "פגישות" הנערכות עם משתמשים אחרים באתר ו/או בכל דרך אחרת, הינו באחריותך הבלעדית.מדרסה איננה אחראית בכל אופן לקשר זה והיא לא תהיה אחראית לכל נזק, מכל מין וסוג שהוא שייגרם כתוצאה, ומבלי לגרוע מכלליות האמור לעיל לנזקים פיזיים, נפשיים, כספיים, רגשיים ואחרים.</li>
        </ol>
       <p><u>שיפוי</u></p>
        <ol  start="50">
        <li>הנך מתחייב לשפות את מדרסה ו/או מי מטעמה, בגין כל נזק, הוצאה, הפסד, תשלום ו/או אובדן רווח שייגרמו להם, לרבות שכר טרחת עורכי דין והוצאות משפט, עקב הפרת תנאי שימוש אלה על ידך ו/או על ידי מי מטעמך.</li>
        <li>הנך מוותר בזאת על כל טענה ו/או תביעה ו/או דרישה כנגד מדרסה בגין הפרת זכויות קנין רוחני וזכויות פרטיות בכל הנוגע למידע ו/או תוכן כלשהו אשר יועלה על ידך לאתר, אלא אם מדרסה פעלה בזדון ובניגוד לתנאי השימוש ומדיניות הפרטיות.</li>
        </ol>
       <p><u>הודעות</u></p>
        <ol  start="52">
        <li>הודעות ניתן לשלוח לכתובת הדואר או הדואר האלקטרוני שמסרת במהלך הרישום לאתר ולמדרסה בהתאם לדרכי התקשורת המופיעות בעמוד "צרו קשר" ויצירת קשר באתר. כל הודעה אשר יש לשלוח מצד אחד לשני, למעט אם נאמר אחרת במסמך זה, תעשה בדואר רשום או במסירה ידנית או בדואר אלקטרוני ויראו כל הודעה שנשלחה בדואר רשום כאילו התקבלה ע"י הנמען, עשרה ימי עסקים לאחר מסירתה למשרד הדואר ואם נמסרה ביד או נשלחה בדואר אלקטרוני, בעת מסירתה ואם נשלחה למדרסה &ndash; בלבד שנתקבל אישור מסירה ממחשבי מדרסה על קבלת ההודעה.</li>
        </ol>
       <p><u>המחאת זכויות</u></p>
        <ol  start="53">
        <li>מדרסה תהא רשאית להמחות את זכויותיה בכל עניין הקשור באתר, לכל גורם שיקבל על עצמו את תנאי שימוש אלו.</li>
        </ol>
       <p><u>תניית שיפוט</u></p>
        <ol  start="54">
        <li>הדין החל על האתר ועל כל עניין קשור בו (לרבות תנאי שימוש אלו), ובכל מקרה של סכסוך משפטי בקשר ישיר ו/או עקיף לאתר ו/או לשימוש באתר, הינו הדין הישראלי בלבד. הסמכות הייחודית והבלעדית לדון בכל מחלוקת או סכסוך משפטי, הקשורים בקשר ישיר ו/או עקיף לאתר ו/או לשימוש באתר, נתונה לבית המשפט המוסמך במחוז תל-אביב-יפו(ולא לכל ערכאה אחרת).</li>
        </ol>
    </section>
</main>