<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">ערבית לצוותי רפואה</%block>
<%block name="headextra">

<style>
.phrasebook-item{
    display:flex;
}
.item-hebrew{
   width:40%;
}
.item-arabic{
   width:40%;
}
.item-audio{
   width:10%;
}
.item-audio i{
    cursor:pointer;
}
</style>

<script src='https://kit.fontawesome.com/a076d05399.js'></script>


</%block>



<main dir="rtl" id="main" aria-label="Content" tabindex="-1">
	<section class="about-top">
        <div class="container text-center p-5">
			<h1 class="pt-5">ערבית לצוותי רפואה</h1>
			<p class="pb-5">שיחון ערבי-עברי</p>
		</div>
	</section>  

    <section id="phrasebook">
        <div class="phrasebook-table">
          <div class="phrasebook-item">
             <div class="item-audio">

             <i class='fas fa-play-circle' style='font-size:40px'></i>

             <div>
              <div class="item-hebrew">
              <p>
              את יכולה לאכול או לשתות
              </p>
             </div>
             <div class="item-arabic">
             <p>
             בְּתִקְדַרִי תַאכְּלִי אַו תִשְרַבִּי?
</p>
             </div>

          </div>
           <div class="phrasebook-item">
             <div class="item-audio">
             <i class='fas fa-play-circle' style='font-size:40px'></i>

             <div>
              <div class="item-hebrew">
              <p>
              אני מדבר ערבית
                </p>
             </div>
             <div class="item-arabic">
              <p>
              אַנַא בַּ(א)חְכִּי עַרַבִּי
                </p>
             </div>

          </div>
        </div>
    <section>

    <div class="audio-library" style="display:none">
    <audio id="audio-1">
     <source src="https://s3.eu-west-2.amazonaws.com/madrasa-voice/Female/Nagham+(135).mp3" type="audio/mpeg">
    </audio>

    <div>
  
</main>

<script>


    const buttons = document.querySelector('.item-audio i');

    buttons.forEach(function(button){
         button.addEventListener("onclick",function(){
             document.querySelector("#audio-1").play();
         })
    });



</script>