<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>
<%block name="headextra">

<style>
#privacy-text p, #privacy-text li{
   font-size:20px;
}
#privacy-text p{
  line-height:37px;
}
#privacy-text li{
  line-height:32px;
}
#privacy-text h1{
    margin-bottom:20px;
}
</style>

</%block>


<main id="main" aria-label="Content" tabindex="-1">
    <section id="privacy-text" dir="rtl" class="container about line-height text-left">
        

        <h1>מדיניות פרטיות- אתר המדרסה</h1>
        <p>מדיניות הפרטיות באתר האינטרנט של ה"מדרסה"- בית ספר לערבית (ע"ר)- עמותה.</p>
        <p>המדרסה-בית ספר לערבית (ע"ר)- עמותה ו/או מי מטעמה- ("<strong>מדרסה</strong>").</p>
        <p>אנא קרא בעיון רב מסמך זה המתאר את מדיניות הפרטיות באתר האינטרנט שכתובתו <a href="https://madrasafree.com/">https://madrasafree.com</a> ("<strong>האתר</strong>") והינו חלק בלתי נפרד מתנאי השימוש באתר.</p>
        <p>מדיניות הפרטיות חלה על כל צפייה ו/או שימוש באתר, בכל אמצעי תקשורת.</p>
        <p>ככל שאינך מסכים לאיזה מתנאי מדיניות הפרטיות המפורטים להלן, נא הפסק את שימושך באתר באופן מידי.</p>
        <p>האמור במדיניות פרטיות זו כתוב בלשון זכר מטעמי נוחות בלבד, וכל האמור בה מיועד לנשים וגברים כאחד. כן, כל האמור במדיניות פרטיות זו בלשון יחיד, אף רבים במשמע, ולהפך.</p>
        <h2>א. איסוף ושימוש במידע</h2>
        <p>אזורים שונים באתר, לרבות השירותים השונים המוצעים דרכו, עשויים להיות כרוכים ברישום ומסירת פרטים ומידע אישי (כגון שם, מגדר, גיל, עיר מגורים, רמת השכלה, מספר טלפון ונייד, דואר אלקטרוני ועוד). שים לב! אינך חייב על-פי חוק למסור את הפרטים והמידע האישי. מסירתם תלויה בהסכמתך וברצונך החופשי בלבד &ndash; אולם מסירת פרטים שגויים, או אי מסירת מלוא הפרטים הנדרשים, עלולים למנוע ממך את האפשרות להשלים את הרישום או להשתמש בחלק משירותי האתר, לפגוע באיכות השירות הניתן לך או באפשרות לקבלו, וכן לפגוע ביכולת ליצור איתך קשר, במידת הצורך.</p>
        <p>הנך נותן הסכמתך למדרסה לאסוף ולשמור מידע בקשר אלייך, שייאסף במסגרת שימושך באתר ו/או בכל מסגרת אחרת הקשורה למדרסה &ndash; בין אם יימסר באופן ישיר על ידך ובין אם יתקבל או יופק באופן עקיף (לרבות, בין היתר, היסטוריית גלישה, הרגלי צריכה, מידע או פרסומות שנקראו באתר, עמודי אינטרנט שנצפו, מיקום המחשבים, כתובת IP וכדומה) ("<strong>המידע</strong>") &ndash; במאגרי המידע של החברה.</p>
        <p>הנך נותן הסכמתך לכך שהמדרסה תהיה רשאית לאסוף ולהפיק את המידע, ולעשות שימוש במידע , כדי לאפשר לך להשתמש באתר,למטרות שיווק ומכירה, למתן הצעות, יצירת קשר, שליחת עדכונים, פניה וזיהוי, אימות פרטים, שיפור השירות, מתן שירותים, דיוור ישיר, עידוד רכישה, ניתוח ועיבוד המידע, פילוח ומחקר סטטיסטי וכן למטרות עסקיות ולצרכי פרסום ושיווק.</p>
        <p>יודגש כי אינך חייב לתת הסכמתך לשימוש כאמור למסירת ו/או איסוף ו/או הפקת המידע ובכל שימוש באתר הנך מסכים מרצונך למתן מלוא המידע, לכל שימוש בו ולהעברתו, הכל כמפורט במדיניות הפרטיות.</p>
        <p>בנוסף למטרות השימוש המפורטות במסמך זה או בתנאי השימוש, ומבלי לגרוע מהן, מדרסה רשאית לעשות שימוש במידע, ולהעבירו לצדדים שלישיים, לפי שיקול דעתה, בין היתר גם על מנת, למלא אחר הוראות הדין, לרבות כל חיקוק, חוק, אמנה, פקודה, תקנה, צו, הוראה רשמית, הוראת מינהל, חוזר ו/או הנחיה של גוף שלטוני או רגולטורי כלשהו; במקרה של תלונה ו/או בקשה בקשר עם השימוש באתר ו/או על מנת לטפל בבעיות אבטחה ו/או בעיות טכניות במערכת; במקרה של סכסוך משפטי או עסקי בינך ובין מדרסה; על מנת להשיב על תביעות של צדדים שלישיים; על מנת להגן על זכויות הקניין של המדרסה ו/או של המשתמשים באתר; במקרים בהם השימוש באתר נעשה בניגוד לאמור בתנאי השימוש ו/או בניגוד להוראות כל דין ולצורך שינוי האתר ושיפורו.</p>
        <p>ככל שמדרסה תעשה פעולה של שינוי מבנה, העברת שליטה, מכירת פעילות, מיזוג וכיוצא בזה, עם צד שלישי, המדרסה תהיה רשאית להעביר כל מידע שברשותה לאותו צד שלישי כאמור.</p>
        <p>כחלק מתפעול שוטף של האתר, המדרסה משתמשת ב"עוגיות" (Cookies) המשמשות בין היתר לאימות פרטים, התאמה להעדפות המשתמש ואיסוף מידע סטטיסטי. מובהר כי לא מתבקש אישור ממך בטרם שימוש כאמור. הנך רשאי, בכל עת, לנקות את ה"עוגיות" מן הדפדפן או להגדירו כך שיסרב להשתמש ב"עוגיות". יחד עם זאת, המדרסה איננה מבטיחה כי פעולות כאלה יאפשרו גלישה תקינה באתר והיא רשאית לחסום ו/או לא לתת שירות במקרים בהם נעשו פעולות כאמור.</p>
        <p>באתר מצויים קישורים לאתרי אינטרנט אחרים. יובהר כי מדיניות הפרטיות המפורטת במסמך זה<strong>, חלה אך ורק בנוגע לאתר</strong>,והמדרסה אינה אחראית למדיניות הפרטיות של אתרי האינטרנט האחרים כאמור. הכניסה לאתרים המקושרים הינה על אחריותך הבלעדית והמדרסה לא תישא כל אחריות בגין הכניסה ו/או שימוש כאמור. המדרסה ממליצה לך לבדוק את תנאי השימוש באתר המקושר בטרם כל פעולה ו/או העברת פרטים אישיים באתר המקושר.</p>
        <p><strong>הנך מאשר כי אתה מסכים לקבל דברי פרסומת כאמור בסעיף 30א. לחוק התקשורת (בזק ושידורים), התשמ"ב &ndash; 1982 ("חוק התקשורת") וכן לקבלת דיוור ישיר על פי חוק הגנת הפרטיות התשמ"א-1981 ("חוק הגנת הפרטיות") מהמדרסה</strong>.</p>
        <p><strong>מבלי לגרוע מכלליות האמור לעיל, הנך מסכים ומאשר לקבל עדכונים, הטבות, מבצעים, פרסומות, מידע שיווקי, דיוור ישיר ו/או הצעות לרכישת מוצרים או שירותים מהמדרסה ו/או מצדדים שלישיים, לנייד, למייל, באמצעות פקסימיליה, מערכת חיוג אוטומטי, הודעה אלקטרונית, הודעת מסר קצר ו/או כל אמצעי תקשורת אחר, הכל מהמדרסה.</strong></p>
        <h2>ב. זכות עיון במידע ומחיקת מידע</h2>
        <p>בהתאם לחוק הגנת הפרטיות, הנך רשאי לעיין בכל עת, במידע אודותייך המוחזק במאגרי המידע של המדרסה (בעצמך או באמצעות מי שהורשה על ידך בכתב או על ידי אפוטרופוס שלך). יובהר כי אין אפשרות לעיין במידע שאינו מזוהה (דהיינו, מידע שנאסף ו/או נשמר, ללא זיהוי ספציפי). לעיון במידע, הנך מתבקש ליצור קשר עם המדרסה באחת מדרכי ההתקשרות המפורטות בסעיף &lrm;33"בתנאי השימוש" (<strong>"סעיף 33</strong>").</p>
        <p>אם עיינת במידע ומצאת כי אינו נכון, שלם, ברור או מעודכן, הנך רשאי לפנות למדרסה באמצעות הדוא"ל באחת מדרכי ההתקשרות המפורטות בסעיף &lrm;33האמור. המדרסה תתייחס לבקשתך ותפעל בהתאם להוראות הדין.</p>
        <p>בכל מקרה בו תחליט שאינך מעוניין לקבל דיוור ישיר או פרסומות, עליך להודיע למדרסה על כך בכתב באמצעות אחת מדרכי ההתקשרות המפורטות בסעיף &lrm;&lrm;33האמור. במקרה כאמור, מדרסה תסיר אותך מרשימת התפוצה, והכל בהתאם לחוק התקשורת ולחוק הגנת הפרטיות.</p>
        <p>תשומת לבך &ndash; המדרסה רשאית למנוע ממך לעשות שימוש באתר ולקבל מוצרים במקרה שתבקש את הסרתך כאמור.</p>
        <h2>ג. אבטחת מידע</h2>
        <p>המדרסה תעשה כל מאמץ לאבטח את המידע באתר, בהתאם לנהוג ולמקובל באתרים מסוג זה. המדרסה איננה מבטיחה ואיננה ערבה לכך, כי מסדי הנתונים שלה, לרבות מידע שאתה מסרת, לא יפרצו וכי מידע כזה יגיע לצד שלישי שאיננו מורשה וכל עוד היא תנקוט באמצעים סבירים היא לא תהיה אחראית לכל נזק, מכל מין וסוג שהוא, שייגרם לך כתוצאה מפריצה למסדי הנתונים שלה ו/או לאתר ו/או למחשביה.</p>
        <p>לתשומת לבך, השימוש באתר ו/או בתכנים שהועלו לאתר ו/או באתרים ו/או בתכנים קשורים בהם, עלול לחשוף אותך לסכנות הכרוכות בשימוש באינטרנט, ובכלל זאת, חדירה למחשב ו/או לטלפון הנייד, וירוסים, תוכנות זדוניות וכדומה.</p>
        <p>גלישה או שימוש באתר ו/או כל שימוש או עיון בתכנים שהועלו לאתר ו/או באתרים ו/או בתכנים קשורים בהם, הינם באחריותך בלבד. המדרסה ממליצה לך להתקין תוכנות הגנה ואבטחה מספקות, בטרם כל שימוש ו/או כניסה לאתר.</p>
        <p>מדרסה לא תהיה אחראית לכל נזק מכל סוג שהוא, עקיף או ישיר, שייגרם לך משימוש באתר.</p>
        <h2>ד. כללי</h2>
        <p>על מדיניות פרטיות זו יחול הדין הישראלי והוא יפורש לפיו. לבית המשפט המוסמך במחוז תל אביב-יפו תהאסמכות השיפוט בכל עניין הנובע ממדיניות פרטיות זו.</p>
        <p>השימוש והגלישה באתר מהווים הסכמה לכל האמור במסמך זה.</p>
        <p>דרכי ההתקשרות עם המדרסה:</p>
        <p>אי-מייל:&nbsp; <a href="mailto:Madrasa.free@gmail.com">Madrasa.free@gmail.com</a></p>
        <p>טלפון: 050-282-7200</p>
        <p>או בכתב לכתובת: רמב"ן 39 ,ירושלים עבור "עמותת מדרסה &ndash; בית ספר לערבית (ע"ר)".</p>
        <p>במידה וייקבע על-ידי בית משפט מוסמך כי הוראה כלשהי מהוראות מדיניות הפרטיות היא בלתי חוקית ו/או בלתי תקפה ו/או בלתי ניתנת לאכיפה, כולה או חלקה, אזי וככל שיקבע כך על ידי בית המשפט המוסמך, אותה הוראה בלבד או (לפי העניין) חלק ממנה בלבד יהיו בטלים, ולא יהא בכך כדי להשפיע על יתר הוראות מדיניות הפרטיות אשר תשארנה בתוקף ותחייב אותך.</p>
        <p>המדרסה לא תהיה אחראית לכל נזק מכל סוג שהוא, עקיף או ישיר, שייגרם לך או למי מטעמך, אם מידע כלשהו לגביך יאבד, או יגיע לידי גורם עוין ו/או יעשה בו שימוש כלשהו שלא בהרשאה.</p>
        <p>המדרסה עשויה ויכולה לשנות (בדרך של שינוי, מחיקה, הסרה, הורדה, הוספה, לרבות הוספת תנאים) ("שינוי") של מדיניות הפרטיות באתר, מעת לעת ועל פי שיקול דעתה הבלעדי. השימוש באתר ו/או במערכות יהיו כפוף למדיניות הפרטיות החדשה לאחר השינוי ולפיכך עליך לקרוא את מדיניות הפרטיות&nbsp; בכל פעם שהנך עושה שימוש באתר.</p>

    </section>
</main>