<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">תמכו במהפכה | ٍJoin the Revolution </%block>
<%block name="headextra">

<!-- viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Search Engine -->
<meta name="description" content="מדרסה קיים בזכות שותפים כמוך. יחד אנחנו יוצרים חברה מתקשרת וטובה יותר. הצטרפו עכשיו!">
<meta name="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content=" תמכו במהפכה | ٍJoin the Revolution">
<meta itemprop="description" content="מדרסה קיים בזכות שותפים כמוך. יחד אנחנו יוצרים חברה מתקשרת וטובה יותר. הצטרפו עכשיו!">
<meta itemprop="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content=" תמכו במהפכה | ٍJoin the Revolution">
<meta name="og:description" content="מדרסה קיים בזכות שותפים כמוך. יחד אנחנו יוצרים חברה מתקשרת וטובה יותר. הצטרפו עכשיו!">
<meta name="og:image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">

</%block>

<main id="main" aria-label="Content" tabindex="-1" class="content-wrapper" style="direction: ltr" lang="en">
	<div class="content-wrapper">
		
		<section class="support-us-top d-flex align-items-center">
			<div class="support-us-top-wrap flex-grow-1">
				<div class="row align-items-center flex-grow-1">
				  <div class="col-lg-6 order-lg-2 pr-lg-5 py-4">
					  <div class="support-us-top-phrase support-us-top-phrase-01 text-left">
                        Madrasa exists thanks to supporters like you					  </div>
					  <div class="support-us-top-phrase support-us-top-phrase-02 text-left">
                        Join now!
                      </div>
					  <div class="support-us-top-phrase support-us-top-phrase-03 d-none d-md-block text-left">
						Creating a better, more communicating society!                      </div>
				  </div>
				  <div class="col-lg-6 order-lg-1">
					<div class="embed-responsive embed-responsive-16by9">
					  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/LYK6Jr_fRK4?wmode=transparent&amp;autoplay=0&amp;theme=dark&amp;controls=1&amp;autohide=0&amp;loop=0&amp;showinfo=0&amp;rel=0&amp;playlist=false&amp;enablejsapi=0&amp;cc_load_policy=1" allowfullscreen></iframe>
					</div>
				  </div>
				</div>
			</div>
		</section>
		
		<section class="support-us-body">
			<div class="support-us-body-wrap">
				<div class="row mb-3 mb-lg-5 pl-lg-5">
				    <div class="col-lg-6 text-left mb-4 mb-lg-0">
						<h1 class="text-left" style="direction:ltr;"> Join  the revolution!</h1>
					    <p>People often ask us - why teach for FREE?? Why not take just a small amount from each student? HOW WILL YOU SURVIVE?</p>
						<p>Our answer is clear - Each and every one of us deserves the opportunity to learn to communicate in Arabic.
                        </p>
						<p>We do not sell a "product", or offer a hobby. We are all (our team, students and fans) promoting a social goal - to create a healthy, communicating society. 
                        </p>
                        <p>We came all this way thanks to thousands of people who believe - in us and in our social vision. </p>
                        <p>Join now!
                        </p>
					</div>
					<div class="col-lg-6 pr-lg-5">
						<div class="support-us-form">
							<h2 class="text-left" style="direction:ltr">How much do you want to contribute?</h2>
							<form id="donation-form">
								<div class="form-group" id="amount2">
									<div class="support-us-form-radios row" style="direction:ltr">
										<div class="custom-control col-6 col-lg-4">
											<input class="support-us-form-input" id="sum-25-sub" name="sum" type="radio" value="https://icredit.rivhit.co.il/payment/PaymentFullPage.aspx?GroupId=ccd578dc-0721-4523-b13a-fe589391e898">
											<label class="support-us-form-label" for="sum-25-sub">
												10$
											</label>
										</div>

										<div class="custom-control col-6 col-lg-4">
											<input class="support-us-form-input" id="sum-50-sub" name="sum" type="radio" value="https://icredit.rivhit.co.il/payment/PaymentFullPage.aspx?GroupId=90371dc8-3083-4d29-ae53-55ba25aa7f43" checked>
											<label class="support-us-form-label" for="sum-50-sub">
												 25$
											</label>
										</div>

										<div class="custom-control col-6 col-lg-4">
											<input class="support-us-form-input" id="sum-100-sub" name="sum" type="radio" value="https://icredit.rivhit.co.il/payment/PaymentFullPage.aspx?GroupId=ca410ef9-49c7-4972-9fe0-7366971a3bdc">
											<label class="support-us-form-label" for="sum-100-sub">
												 50$
											</label>
										</div>
										<div class="custom-control col-6 col-lg-4">
											<input class="support-us-form-input" id="sum-250-sub" name="sum" type="radio" value="https://icredit.rivhit.co.il/payment/PaymentFullPage.aspx?GroupId=58ebd5aa-791c-44f0-b1f8-578bb0ac403b">
											<label class="support-us-form-label" for="sum-250-sub">
												100$
											</label>
										</div>

										<div class="custom-control col-6 offset-3 col-lg-4">
											<input class="support-us-form-input" id="sum-other-sub" name="sum" type="radio" value="https://icredit.rivhit.co.il/payment/DonationPage.aspx?GroupId=d69c9f63-6bbd-4f9f-8c52-dca24a61d467">
											<label class="support-us-form-label" for="sum-other-sub">
												Another amount
											</label>
										</div>
									</div>
								</div>
								<div class="form-group" id="amount1">
									<div class="support-us-form-radios row" style="direction:ltr">
										<div class="custom-control col-6 col-lg-4">
											<input class="support-us-form-input" id="sum-50" name="sum" type="radio" value="https://icredit.rivhit.co.il/payment/PaymentFullPage.aspx?GroupId=e45f050b-d4e7-4f2e-919f-1f86f32b958f">
											<label class="support-us-form-label" for="sum-50">
												50$
											</label>
										</div>

										<div class="custom-control col-6 col-lg-4">
											<input class="support-us-form-input" id="sum-100" name="sum" type="radio" value="https://icredit.rivhit.co.il/payment/PaymentFullPage.aspx?GroupId=f494e0f2-637d-428f-b53c-be3837e970c1">
											<label class="support-us-form-label" for="sum-100">
												 100$
											</label>
										</div>

										<div class="custom-control col-6 col-lg-4">
											<input class="support-us-form-input" id="sum-250" name="sum" type="radio" value="https://icredit.rivhit.co.il/payment/PaymentFullPage.aspx?GroupId=e49b7730-5df2-4028-8f0c-de23d42b797a">
											<label class="support-us-form-label" for="sum-250">
												 250$
											</label>
										</div>
										<div class="custom-control col-6 col-lg-4">
											<input class="support-us-form-input" id="sum-500" name="sum" type="radio" value="https://icredit.rivhit.co.il/payment/PaymentFullPage.aspx?GroupId=42707193-b45d-481e-9016-ac28e6a5ad2f">
											<label class="support-us-form-label" for="sum-500">
												500$
											</label>
										</div>

										<div class="custom-control col-6 offset-3 col-lg-4">
											<input class="support-us-form-input" id="sum-other" name="sum" type="radio" value="https://icredit.rivhit.co.il/payment/DonationPage.aspx?GroupId=433d8f41-77d6-4dbe-bd1f-44d900b6c3ae">
											<label class="support-us-form-label" for="sum-other">
												Another amount
											</label>
										</div>
									</div>
								</div>
								<div class="form-group text-center text-lg-left">
									<div class="form-group text-center text-lg-left">
										<select  class="custom-select" id="donation-type">
											<option value="1">Monthly payment</option>
											<option value="2">One time payment</option>
										</select>
									</div>

									<div class="custom-control custom-checkbox mr-sm-2">
										<input type="checkbox" class="custom-control-input" id="customControlAutosizing" required>
										<label class="custom-control-label custom-control-label-ltr" for="customControlAutosizing" style="direction:ltr">
											I read and approved the <a href="/tos" target="_blank"> terms and conditions.</a></label>
									</div>
							
								
								<div class="support-us-btn-wrap">
									<button id="submit" type="submit" class="btn btn-warning"> Secure payment </button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- <div class="row">
				    <div class="col-lg-6 text-left pl-lg-5">
						<h3>יחד נבנה את הבית של לימודי הערבית המדוברת בישראל!</h3>
						<p>התכניות שלנו לשנה הקרובה:</p>
						<ul>
							<li>פיתוח קורסים בשתי רמות לימוד נוספות לפחות!</li>
							<li>פתיחת 10 מוקדים של מפגשי תרגול ושיח ברחבי הארץ</li>
							<li>פיתוח פלטפורמת תרגול ראשונה מסוגה בוידאו</li>
							<li>תכני העשרה ומיני קורסים בנושאים מגוונים - להגים בעולם הערבי, הכתב הערבי ועוד ועוד!</li>
							<li>11,000 תלמידים כבר נרשמו והתחילו ללמוד - יחד נגיע לעוד עשרות אלפי אנשים</li>
						</ul>
					</div>
					<div class="col-lg-6 text-left pr-lg-5">
						<h4>צעד צעד, בדרך לחברה ישראלית שמתקשרת גם בערבית.</h4>
					</div>
				</div> -->
			</div>
		</section>

	</div>
	
<script>
	$('#donation-type').on('change', function () {
		if (this.value == '1') {
			$('#amount2').show();
			$('#amount1').hide();
		}
		else {
			$('#amount1').show();
			$('#amount2').hide();
		}

	});

	function afterValidate() {
		// $("#donation-form").action = val;
		// window.location.replace(val);
		// return false;
	}
	// $("#submit").click(function(e) {

	// 		var val = $('input[name=sum]:checked').val();
	// 		console.log(val);
	// 		$("#donation-form").action = val;
	// 		window.location.replace(val);
	// 		return false;

	// });

	$('#submit').on('click', function (event) {
		var isvalidate = $("#donation-form")[0].checkValidity();
		if (isvalidate) {
			event.preventDefault();
			var val = $('input[name=sum]:checked').val();
			$("#donation-form").action = val;
			window.open(val, '_blank');
			//window.location.replace(val);
			return false;
			// HERE YOU CAN PUT YOUR AJAX CALL
		}
	});
</script>
</main>