<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle"> תודה על תרומתכם | Thanks for supporting us</%block>


<%block name="headextra">
<!-- viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Search Engine -->
<meta name="description" content="פחות מ-5% מהיהודים בישראל יודעים לנהל שיחה בסיסית בערבית מדוברת, אנחנו כאן כדי לשנות את זה. הסיפור שלנו מתחיל בסלון של ההורים של גילעד, בקיץ 2014">
<meta name="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="תודה על תרומתכם | Thanks for supporting us">
<meta itemprop="description" content="פחות מ-5% מהיהודים בישראל יודעים לנהל שיחה בסיסית בערבית מדוברת, אנחנו כאן כדי לשנות את זה. הסיפור שלנו מתחיל בסלון של ההורים של גילעד, בקיץ 2014">
<meta itemprop="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="תודה על תרומתכם | Thanks for supporting us">
<meta name="og:description" content="פחות מ-5% מהיהודים בישראל יודעים לנהל שיחה בסיסית בערבית מדוברת, אנחנו כאן כדי לשנות את זה. הסיפור שלנו מתחיל בסלון של ההורים של גילעד, בקיץ 2014">
<meta name="og:image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">

<style>

    #thank-for-support-section{
        padding-bottom:0;
        margin-bottom:0;
        max-width:820px;

    }
    #title{
        font-size:46px;
        color:#85C559;
    }
    .sub-title{
        font-size:20px;
        margin-bottom:20px;
        color:#4B4B4B;

    }

    #share-buttons{
      padding-top:5px;
      margin:auto;
      display:flex;
      justify-content:center;
    }
    .share-button a,.share-button span{
      color:white;
      text-decoration:none;
      padding:4px 8px; 
      border-radius:4px;
      font-size:15px;
      width:85px;
      display:inline-block;
      margin-right:5px;
}
    .share-button a:hover{
    color:white;
}
    .share-button a:active{
      color:white;
    }
    #email-button a{background-color:lightslategray;}
    #whatsapp-button a{background-color:#48C658;}
    #facebook-button span{background-color:#4267B2;cursor: pointer;}
#support-now-button{
    color:white;
}

@media screen and (max-width: 600px) {
 
    #title{
      margin-top: 0;
      font-size:38px;
      line-height:46px;
    }
    #thank-for-support-section{
        padding-right:20px;
        padding-right:20px;
    }
}

</style>

</%block>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v3.3"></script>



<main id="main" aria-label="Content" tabindex="-1">

        <section id="thank-for-support-section" class="container about line-height text-center">
                <h1 id="title">
                        שֻכְּרַן!
                    תודה שהצטרפת לקהילת התומכים של מדרסה! 
                    </h1>
                <p class="sub-title">
אנחנו נמצאים בקמפיין גדילה מאד משמעותי בימים אלה, ומגייסים את כל מי שמאמין בערבית מדוברת ככלי לשיפור התקשורת בחברה שלנו! 
</p>
<p class="sub-title">
מכירים אנשים שזה יעניין אותם? נשמח אם תשתפו 🙏🏽💚💙
                </p>
                <!-- <p><a id="support-now-button" class="btn btn-warning my-2 my-sm-0" href="https://madrasafree.com/supportus">תמוך עכשיו
                    <i class="fa fa-chevron-circle-left	
                    "></i></a></p> -->
   
        <div class="container" id="share-buttons">
                <div class="share-button" id="facebook-button">
                    <span class="facebook-share" data-js="facebook-share"><i class="fa fa-facebook"></i> פייסבוק</span>
                    <!-- <a href="#"><i class="fa fa-facebook"></i> פייסבוק -->
                </a>
                    </div>
                   
            <div class="share-button" id="whatsapp-button">
              

                    <a href="whatsapp://send?text=תמכו במדרסה: https://madrasafree.com/supportus" data-action="share/whatsapp/share"
                    ><i class="fa fa-whatsapp"></i> וואטסאפ </a>
               
            </div>
            <div class="share-button" id="email-button">
                    <a href="mailto:?subject=תמכו במדרסה&amp;body= גם אני תמכתי במדרסה, אני מזמין אתכם לתמוך גם ולהצטרף למהפכה https://madrasafree.com/supportus"
                    title="Share by Email"
                    ><i class="fa fa-envelope"></i> מייל </a>
            </div>

        </div>
    </section>
	
</main>
	
<!-- smooth scroll JS -->
<script src="/static/marvel/js/smooth-scroll.js"></script>
<script>
    var facebookShare = document.querySelector('[data-js="facebook-share"]');

    facebookShare.onclick = function (e) {
        e.preventDefault();
        var facebookWindow = window.open('https://www.facebook.com/sharer/sharer.php?u=https://madrasafree.com/supportus', 'facebook-popup', 'height=350,width=600');
        if (facebookWindow.focus) { facebookWindow.focus(); }
        return false;
    }
</script>
<!-- Progress bar -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8.1/dist/polyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.0/dist/fetch.umd.min.js"></script>
<script>
    function reportBuy(rawValue){
        var reportObj = {content_name : rawValue, content_type : 'product'};
        if (rawValue.indexOf("sub") > -1){
            reportObj.sub = true;
        }
        var value = parseInt(rawValue.replace(/[^0-9\.]/g, ''));
        if (value) {
            reportObj.value = value;
            reportObj.currency = "ILS";
        }
        console.dir(reportObj)
        fbq('track', 'Purchase',
            reportObj
        // end parameter object data
        );
        document.cookie = "dvalue= ; expires = Thu, 01 Jan 1970 00:00:00 GMT"
    }
    function getDValue(cname) {
        var cookiestring=RegExp(""+cname+"[^;]+").exec(document.cookie);
        return decodeURIComponent(!!cookiestring ? cookiestring.toString().replace(/^[^=]+./,"") : "");
    }
    var dvalue = getDValue("dvalue");
    if (dvalue){
        reportBuy(dvalue);
    }
    
</script>