<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about line-height text-right">
        

        <ol>

       
        <strong>תקנון לשימוש באתר "מדרסה"</strong>
        <br>
        מטעמי נוחות נוקט התקנון בלשון זכר, ואולם כל הנאמר בו מתייחס לנשים ולגברים כאחד.
        <li>השימוש באתר על תכניו והשירותים הניתנים בו, מוצעים לך בכפוף לקבלתך את כל התנאים הכלולים
        בתקנון זה.</li>
        <li>הגלישה באתר ותיחשבנה להסכמה מצדך לתנאים אלה.
                <li>הנהלת האתר רשאית להשעות, לחסום או להפסיק לאלתר את גישת הגולש לשירות אם יפר את תנאי
        התקנון.</li>
        <li>הנהלת האתר רשאית לעדכן את תנאי התקנון מעת לעת.</li>
                <li>אין לעשות באתר או באמצעותו כל שימוש למטרות בלתי חוקיות.</li>
                        <li> אין לפרסם או להעביר באמצעות האתר כל מידע שהוא שקרי, מעליב, משמיץ, מאיים, פוגע בפרטיות </li>
        הזולת, פורנוגרפי, בעל אופי מיני, גזעני, או בלתי חוקי.</li>
        <li>הנך אחראי באופן בלעדי לנכונות המידע אותו תפרסם או תעביר באמצעות האתר. הנהלת האתר אינה
        מקבלת על עצמה כל אחריות לתכנים המפורסמים או מועברים בין המנויים.</li>
        <li>אין לעשות באתר כל שימוש מסחרי בדרך של משלוח פרסומות או בכל דרך אחרת.</li>
                <li>כל קשר וירטואלי או אחר שלך עם מי מהמשתמשים האחרים באתר, וזאת בין בהתכתבות או בצ'ט ובין
        במסגרת "פגישות "אמת", הן באחריותך הבלעדית. מומלץ ביותר לשקול היטב ולוודא את מירב הפרטים
        אודות הצד השני לפני כל מפגש כזה, וכן לנקוט באמצעי זהירות מרביים לפני הפגישה הראשונה עם אדם
        לא מוכר. בשום מקרה לא תהיה להנהלת האתר כל אחריות לתוצאות כל קשר כאמור, ומבלי לגרוע
        מכלליות האמור לעיל לנזקים פיזיים, נפשיים, כספיים, רגשיים ואחרים.</li>
        <li>בכוונת הנהלת האתר כי האתר ושירותיו יהיו זמינים בכל עת. יחד עם זאת אין ביכולת הנהלת האתר
        להתחייב לזמינות רצופה ללא תקלות וללא "נפילות". כמו כן רשאית הנהלת האתר להפסיק את השימוש
        באתר מעת לעת לצורכי תחזוקתו וארגונו. לא יינתן כל פיצוי כספי/זיכוי בשל תקלות או הפסקות בשירות.</li>
        <li>כל זכויות הקניין הרוחני וזכויות היוצרים בקשר לאתר הם של הנהלת האתר.</li>
                <li>הנהלת האתר אינה אחראית לתוכן מודעות, "באנרים" או לכל חומר פרסומי באתר. האחריות לכך על
        המפרסמים בלבד.</li>
        <li>הימצאותם של קישורים ("לינקים") לאתרים אחרים אינם מהווים ערובה לתכנים באתרים אלה מבחינת
        מהימנותם, שלמותם, או מכל בחינה אחרת.</li>
        <li>על התקנון יחול הדין הישראלי. סמכות השיפוט לגביו לבתי המשפט המוסמכים בירושלים.
        תרומות ומדיניות ביטול תרומה</li>
        <li>עמותת "מדרסה – בית ספר לערבית (ע"ר)" מ.ע. 580616498 מאפשרת לך באמצעות אתר זה לתרום כסף
        לטובת פעילות העמותה בדרך קלה, נוחה ומהירה - ניתן לשלם בכרטיס אשראי בתשלום אחד, וכמו כן ניתן
        לשלם באמצעות PAYPAL.</li>
        <li>בעת מתן תרומה באמצעות כרטיס אשראי תתבצע בדיקת הכרטיס מול חברת האשראי והגולש יקבל
        תשובה מיידית באשר למצב העסקה והאם התקבלה או נדחתה.</li>
        <li>מדיניות ביטול תרומה / עסקה: מבצע הפעולה יהיה רשאי לפנות לעמותה בבקשה לשינוי פרטי החיוב ביטול
        עסקה. ניתן לבטל עסקה בתוך 30 יום מיום שבוצעה פעולת התרומה באינטרנט או בטלפון ע”פ חוק הגנת
        הצרכן 1981 .העמותה תבצע את השינוי הנדרש בהתאם למדיניות הנהוגה באותה עת בחברת האשראי. במידה
        וחברת האשראי תחייב את העמותה בעמלה בגין הפעולה,תחויב מבצעת הפעולה בעמלה כאמור. העמותה
        תבצע ביטול או שינוי סכום תרומה על פי בקשת התורם.</li>
        <li>אין לתת פרטים כוזבים. מילוי פרטים כוזבים בטופס התרומה או מתן פרטים כאמור בתרומה טלפונית
        מהווים עבירה פלילית. גולש שיעבור עבירה זו צפוי להליכים משפטיים, פליליים ואזרחיים.</li>
        <li>אם עסקה לא אושרה ע”י חברת האשראי, יקבל מבצע הפעולה הודעה בהתאם. כדי להשלים את הפעולה על
        מבצע הפעולה ליצור קשר טלפוני עם העמותה, במס' טלפון 7312698-050.</li>
        <li>העמותה לא תישא בכל אחריות לפעילות בלתי חוקית שתיעשה על ידי גולשות באתר או בגין כל גורם אחר
        שאינו בשליטתה המלא. פרשנות לתקנון זה ואכיפתו של התקנון או כל פעולה ו/או סכסוך הנובעים ממנו,
        ייעשו בהתאם לחוקי מדינת ישראל. כל סכסוך או שאלה בהקשר לתקנון זה תובא להכרעה בערכאה
        השיפוטית המוסמכת במחוז ירושלים בלבד.</li>
        <li>אני מאשר שגילי הוא לפחות 18 שנה, ושקראתי ואני מסכים לתקנון האתר ומדיניות הפרטיות המפורטת
        להלן. </li>
        <li>מדיניות פרטיות: העמותה מכירה בחובתה לשמור על פרטיות הגולשים והתורמים. העמותה לא תעביר
        פרטי התורמים לגורם שלישי, מלבד לחברת האשראי לצורך ביצוע פעולת התרומה, ולא תעביר לכל גורם
        שלישי פרטי גולשים אחרים. העמותה שומרת לעצמה את הזכות לשלוח בדיוור ישיר מידע על פעילותה,
        ניוזלטר וכד' לגולשים שמילאו פרטיהם באתר. בכל דיוור ניתנת האפשרות להסרה מרשימת התפוצה, בהתאם
        לחוק התקשורת (בזק ושידורים) (תיקון מס' 40 ,התשס"ח- 2008). </li>
        <li>אם אינך מסכים לתנאי מתנאיו של תקנון זה, אתה מתבקש שלא להשתמש באתר האינטרנט של עמותת
        "מדרסה – בית ספר לערבית".
        ליצירת קשר עם הנהלת האתר יש לפנות באמצעות עמוד "צרו קשר" או באמצעות מספר טלפון: 050-282-7200, בדואר אלקטרוני: Madrasa.free@gmail.com
        או בכתב לכתובת רמב"ן 39 ,ירושלים עבור "עמותת מדרסה – בית ספר לערבית (ע"ר)".
        ניתן לקרא עלינו פרטים נוספים באתר העמותות של ישראל – <a href="http://www.guidestar.org.il/he/organization/580616498">גיידסטאר</a>
      </li>

    </ol>

    </section>
</main>
