<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">אודות | ِAbout</%block>


<%block name="headextra">
<!-- Search Engine -->
<meta name="description" content="פחות מ-5% מהיהודים בישראל יודעים לנהל שיחה בסיסית בערבית מדוברת, אנחנו כאן כדי לשנות את זה. הסיפור שלנו מתחיל בסלון של ההורים של גילעד, בקיץ 2014">
<meta name="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="אודות | ِAbout">
<meta itemprop="description" content="פחות מ-5% מהיהודים בישראל יודעים לנהל שיחה בסיסית בערבית מדוברת, אנחנו כאן כדי לשנות את זה. הסיפור שלנו מתחיל בסלון של ההורים של גילעד, בקיץ 2014">
<meta itemprop="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="אודות | ِAbout">
<meta name="og:description" content="פחות מ-5% מהיהודים בישראל יודעים לנהל שיחה בסיסית בערבית מדוברת, אנחנו כאן כדי לשנות את זה. הסיפור שלנו מתחיל בסלון של ההורים של גילעד, בקיץ 2014">
<meta name="og:image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">

<style>
	.about-story .about-story-img{
		background-position:top!important;
		min-height:200px!important;
	}
  .about-story li{
    font-size:23px;
    margin-bottom: 10px;
  }

</style>

</%block>




<main id="main" aria-label="Content" tabindex="-1">

	<section class="about-top">
        <div class="container text-center p-5">
			<h1 class="pt-5">הסיפור של מדרסה</h1>
			<h3>מיזם חברתי-קהילתי-טכנולוגי ללימוד ערבית מדוברת בחינם ולכולם.</h3>
			<p class="pb-5"> המטרה שלנו היא לקדם תקשורת טובה יותר בין המגזרים השונים בחברה הישראלית. המיזם משלב לימוד מקוון באתר באמצעות קורסים אינטראקטיביים וספרית תכנים ענפה, יחד עם פעילות קהילתית יומיומית ברשתות החברתיות וקבוצות לימוד ברחבי הארץ.</p>
		</div>
	</section>
	
	<nav>
		<ul class="about-nav nav justify-content-center">
			<li class="nav-item"><a class="nav-link active" href="#story">הסיפור</a></li>
			<li class="nav-item"><a class="nav-link" href="#team">הצוות</a></li>
			<li class="nav-item"><a class="nav-link" href="#managment">הוועד המנהל</a></li>
			<li class="nav-item"><a class="nav-link" href="#thanks">תודות</a></li>
		</ul>
	</nav>
	
	<section class="about-story">
		<div class="about-story-img"></div>
		<a name="story"></a>
		<div class="container pb-0">
			<div class="about-story-wrap mb-5 px-3">
				<p class="heading">מדרסה הוא ארגון חברתי ללימוד ערבית מדוברת בחינם דרך כלים טכנולוגיים ולמידה קהילתית.</p>
				<p>מעל 75,000 תלמידים רשומים לומדים לתקשר דרך שילוב בין קורסים מקוונים חינמיים, תכנים מגוונים בערוצי ניו מדיה שונים, וקבוצות תרגול ושיח ברחבי הארץ. במקביל לפעילות מול הקהל הרחב, הארגון יוצר ומקיים שיתופי פעולה אסטרטגיים רבים המבוססים על קורסים היברידיים, סדנאות והרצאות, במטרה להנכיח ולהגדיל את ידיעת הערבית בזירות המרכזיות של החברה.</p>
			</div>
			<div class="about-story-wrap mb-5 px-3">
				<p class="heading">המטרה שלנו היא לחבר בין הקבוצות השונות בחברה הישראלית.</p>
				<p>הערבית מהווה למעשה מכנה משותף רחב הרבה יותר משנהוג לחשוב:  היא שפת אם עבור 22% מהאוכלוסייה; לרבים מהיהודים בישראל ישנו חיבור משפחתי, תרבותי והיסטורי אליה; היא השפה הרשמית של 24 מדינות סביבנו והדמיון בינה לבין עברית מדהים . עם זאת, הרוב המוחלט של היהודים בישראל (95%!) לא דובר את השפה והחיבור אליה נשחק עם השנים. </p>
			</div>
			<div class="about-story-wrap mb-5 px-3">
				<p class="heading">הקהילה העצומה והמגוונת של מדרסה היא הלב של הארגון.</p>
				<p> הן בפן הפדגוגי - דרך תרגול ולימוד משותפים, והן בפן החברתי – בהשתתפות בפעילות ויצירת המומנטום שמניע את המהלך החברתי הרחב: 75,000 התלמידים - חילונים ודתיים, אשכנזים ומזרחים,  גברים ונשים, מכל קצוות הקשת הפוליטית ובכל הגילאים. 250,000 אנשים שונים מקבלים את התכנים היומיומיים שלנו בעמוד הפייסבוק מדי חודש, ועשרות אלפים מנויים לערוצי למידה רבים אחרים.  </p>
      </div>
      <div class="about-story-wrap mb-5 px-3">
			
        <p class="heading" style="margin-bottom:20px"> תיאורית השינוי כוללת חמישה שלבים עיקריים, עליהם מבוסס גם מודל הפעילות שלנו:  </p>
        <ol>
          <li>
            <strong>משנים את השיח</strong>
             על ערבית ועל לימודי ערבית בתקשורת וברשתות החברתיות דרך תכנים לימודיים חיוביים ועדכניים.

          </li>
          <li><strong>הופכים מאות אלפי ישראלים לתלמידים </strong>
            בקורסים מקוונים מעולים וחינמיים, בקבוצות לימוד ברחבי הארץ, בקורסים היברידיים (לומדה+מפגש חווייתי)  ובפרויקטים חינוכיים רחבים. </li>
          <li><strong>לומדים לתקשר</strong>
             דרך תכניות לימוד ייחודיות שמבטיחות אחוז סיום גבוה וכלים מעשיים לניהול שיחה</li>
          <li><strong>יוצרים הזדמנויות שיחה</strong>
             ותשתית חברתית לשימוש בחומר הנלמד</li>
          <li><strong>משנים עמדות</strong>
             אחד כלפי השני דרך תקשורת, אמון ובניית מומנטום -״לימוד מקדם תקשורת מקדמת לימוד״!</li>
        </ol>
      </div>

		
		</div>
	</section>
	
	<section class="about-team text-center">
		<a name="team"></a>
		<div class="container pt-0" style="max-width:920px;">
			<h3 class="h1 mb-5">הצוות</h3>
			<div class="about-team-wrap row justify-content-center">
					<div class="col-lg-4 col-sm-12">
							<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/michal-rosen.png" alt="מיכל רוזן" width="185">
							<div class="about-team-content">
								<p class="h3 mt-4">מיכל רוזן</p>
								<p style="font-size:23px;">
										מנהלת מדיה דיגיטלית בצוות מדרסה. בעלת תואר ראשון בלימודי מזרח אסיה וחובבת שפות. לומדת ערבית ועוסקת ביצירת תוכן לרשתות, עיצוב גרפי והוראה. מתרגלת יוגה ומוזיקאית יוצרת.
								</p>
							</div>
						</div>		
				<div class="col-lg-4 col-sm-12">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/gilad.png" alt="גילעד סוויט">
					<div class="about-team-content">
						<p class="h3 mt-4">גילעד סוויט</p>
						<p style="font-size:23px;"> המייסד והמנהל המקצועי. בעל תואר ראשון בסוציולוגיה, אנתרופולוגיה, ערבית ובודהיזם. גר בירושלים, וחובב שפות (דה), אקולוגיה ומוזיקה.</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12">
						<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/aya.png" alt="איה ח׳לאילה">
						<div class="about-team-content">
							<p class="h3 mt-4">איה ח׳לאילה</p>
							<p style="font-size:23px;"> מתרגמת, מורה ועורכת תוכן. סטודנטית לתואר שני בפיתוח בין-לאומי, פעילה חברתית, אוהבת לטייל בעולם ולשחק משחקי קופסה!</p>
						</div>
					</div>
				
			
			</div>
			<div class="row justify-content-center">		
				<div class="col-lg-4 col-sm-12">
							<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/daniel.png" alt="דניאל דותן">
							<div class="about-team-content">
								<p class="h3 mt-4">דניאל דותן</p>
								<p style="font-size:23px;"> עו״ד ופעיל חברתי. מייסד ומנכ״ל העמותה. חולה כדורגל, מצלם, כותב תשבצי היגיון (רק בעברית בינתיים), ואבא של עלמה.</p>
							</div>
				</div>
			
				<div class="about-team-item col-lg-4 col-sm-12">
						<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/yaniv.png" alt="יניב גרשון" width="185">
						<div class="about-team-content">
							<p class="h3 mt-4">יניב גרשון</p>
							<p style="font-size:23px;">
									מנהל אתר וכותב תוכן במדרסה. בעל תואר ראשון במדעי המידע וערבית בבר אילן. בעל ידע גם בשפה הערבית וגם בשפות המחשב. השילוש הקדוש שלו זה ערבית, טכנולוגיה ושינוי חברתי. חובב משחקי קופסה ואוכל בריא.
							</p>
						</div>
				</div>	
				<div class="col-lg-4 col-sm-12">
					<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/amit.png" alt="עמית בנדור" width="185">
					<div class="about-team-content">
						<p class="h3 mt-4">עמית בנדור</p>
						<p style="font-size:23px;">
								הטכנולוג (הראשי) של מדרסה. ביום יום מומחה לבינה מלאכותית ועיבוד שפה, בעל תואר מהנדס מהטכניון.  
						</p>
					</div>
				</div>		
						
			</div>
			<div class="row justify-content-center">	
				<!-- <div class="about-team-item col-lg-3 col-sm-12">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/vered.png" alt="ורד קיסר">
					<div class="about-team-content">
						<p class="h3 mt-4">ורד קיסר</p>
						<p style="font-size:23px;"> בת 27 מירושלים, כותבת חומרי לימוד ורכזת אדמיניסטרציה. בוגרת תואר ראשון בשפה וספרות ערבית ולומדת לתואר שני בבריאות הציבור. חובבת שפות, נופים וחתולים.</p>
					</div>
				</div>	 -->

				<!-- <div class="col-lg-3 col-sm-12">
							
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/naam.png" alt="נע׳ם אבו ליל">
							
						<div class="about-team-content">
								<p class="h3 mt-4">נע׳ם אבו ליל</p>
								<p style="font-size:23px;"> נע’ם אבו-ליל, עורכת תוכן במדרסה. סטודנטית לתואר ראשון במזרח תיכון ובלשנות. גרה בירושלים ותמיד מאחרת</p>
						</div>
					</div> -->

					<!-- <div class="col-lg-3 col-sm-12">
						<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/mu'tasam.png" alt="מעתצם ג'לאל עטשאן" width="185">
						<div class="about-team-content">
								<p class="h3 mt-4">מעתצם ג'לאל עטשאן</p>
								<p style="font-size:23px;"> עורך תוכן במדרסה. בעל תואר ראשון בשפה וספרות ערבית וחינוך, סטודנט לתואר שני בשפה וספרות ערבית. מתרגל ערבית במרכז שלם ומקטלג ספרים במחלקה לערבית בספרייה הלאומית. חובב שפות ומשחקי קופסה. אבא לשני ילדים.</p>
						</div>
					</div> -->

					
					<div class="col-lg-3 col-sm-12">
						<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/sondos.png" alt="סונדוס אלחות" width="185">
						<div class="about-team-content">
								<p class="h3 mt-4">סונדוס אלחות</p>
								<p style="font-size:23px;"> מורה ופרזנטורית במדרסה. בוגרת האוניברסיטה העברית, מלמדת ערבית בארה"ב ובתכנית "מדברות". עובדת בסנונית כרכזת תחום ערבית, מתרגמת וכותבת תוכן ומנחה מורים לערבית. החלום שלה שיהיה לה בית ספר משלה. </p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-12">
						<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/yiftach.png" alt="יפתח שביט" width="185">
						<div class="about-team-content">
								<p class="h3 mt-4">יפתח שביט</p>
								<p style="font-size:23px;">
									מנהל פדגוגי ורכז פעילויות השפה. בעל תואר ראשון בהיסטוריה ויחסים בינלאומיים ותואר שני בהיסטוריה. גר בירושלים, חובב שפות, טיולים ולימוד גמרא בזמנו הפנוי :-)
								</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-12">
						<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/lital.png" alt="ליטל רוז" width="185">
						<div class="about-team-content">
								<p class="h3 mt-4">ליטל רוז</p>
								<p style="font-size:23px;"> 
									מנהלת שיתופי פעולה. בעלת תואר ראשון במנהיגות ומדיניות בחינוך ולימודי א"י וסטודנטית לתואר שני במנהל ומדיניות ציבורית. אמא של נוגה, אוהבת לטייל בארץ ולכתוב (למגירה :)
								</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-12">
						<img class="about-team-img" src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/about/shachaf.png" alt="שחף ברקאי" width="185">
						<div class="about-team-content">
								<p class="h3 mt-4">שחף ברקאי</p>
								<p style="font-size:23px;"> 
									מנהלת אדמיניסטרטיבית. בעלת תואר ראשון ותעודת הוראה בהיסטוריה. 
									אוהבת טבע, א.נשים ובעלי חיים. מאמינה שמפגש ותקשורת הם הבסיס ליצירת חברה ויחסים טובים. 
								</p>
						</div>
					</div>

				
				
			</div>
		</div>
	</section>
	
	<section class="about-team text-center">
		<a name="managment"></a>
		<div class="container" style="max-width:920px;">
			<h3 class="h1">הוועד המנהל</h3>
			<div class="row justify-content-center">
				<div class="col-lg-4 col-sm-12">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/netanel.png" alt="נתנאל כץ">
					<div class="about-team-content">
						<p class="h3 mt-4">נתנאל כ״ץ</p>
						<p style="font-size:23px;"> יושב ראש העמותה פסיכולוג ארגוני, מייסד ומנכל משותף ב”מכון מנהיגות”. ליווה את הפרויקט מראשית דרכו</p>
					</div>
				</div>
				<!-- <div class="col-lg-4 col-sm-12">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/alon.png" alt="אלון פרגמן">
					<div class="about-team-content">
						<p class="h3 mt-4">ד״ר אלון פרגמן</p>
						<p style="font-size:23px;"> עוסק בתרגום, בחקר הוראת השפה הערבית ובהכשרת מורים לערבית בבית הספר לחינוך באוניברסיטת תל אביב.</p>
					</div>
				</div> -->
				<div class="col-lg-4 col-sm-12">
					<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/daniel-s.png" alt="דניאל שפע">
					<div class="about-team-content">
						<p class="h3 mt-4">דניאל שפע</p>
						<p style="font-size:23px;"> עורך בכיר ומפיק בערוץ הספורט</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="about-thanks text-center">
		<a name="thanks"></a>
		<div class="container">
			<h3>
				תודות 
				<img class="about-team-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/about/namaste.png" alt="תודה">
			</h3>
			<p>מיכל ודרור וינוגרד, שם בראשי, אורן פלד, מיכל פורת, מתן אשד, יובל כץ, גל קרמרסקי, נועה פינקלשטיין, ירדן ליכטרמן, שחר גילן, שרון קומש, מתן סרי, מחמוד שחאדה, סמירה טאפש, רג’אא חאג’ יחיא, מאיה דוד, מעתצם בכיראת ז”ל, איה ח’יריה, ראוי מוסא, זאדה חאג׳, אריאל קדם, עומר ארליך, חנאן חסין דבאח, ת'נאא גובארי, ג’האד אבו סנינה, רונן רוטפרב, איתי כץ, עירית שחם, מנחם דותן רו״ח, מירי חזות, אוהד ובר, מתן גז מכון וןליר, המרכז האמריקאי בירושלים, סטודיו פו, בית אליאנס, אולפן הקלטות המזקקה, מרכז קרוסלה, משולם פרינט </p>
			<a class="theme-btn-special mt-5" href="/supportus">וכמובן, לכל מי שתמך ותומך במיזם</a>
		</div>
	</section>
</main>
	
<!-- smooth scroll JS -->
<script src="/static/madrasa_theme/js/smooth-scroll.js"></script>