## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

    <footer class="theme-footer" id="footer-openedx">
        ## When rendering the footer through the branding API,
        ## the direction may not be set on the parent element,
        ## so we set it here.
        % if bidi:
          dir=${bidi}
        % endif
      >
        <div class="theme-footer_holder theme-footer_holder__color d-none d-lg-block">
          <div class="theme-footer_wrapper">
              <div class="theme-footer_col">
                <a class="theme-footer_col-header" href="/"><img class="theme-footer_logo" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/home/LogoMadrasaConv1_white.png" alt="white logo"> </a>
              </div>
              <div class="theme-footer_col d-">
                  <a class="theme-footer_col-header" href="/about">אודות</a>
              </div>
              <div class="theme-footer_col">
                  <a class="theme-footer_col-header" href="/community">הקהילה הלומדת</a>
              </div>
              <div class="theme-footer_col">
                  <a class="theme-footer_col-header" href="/supporters">תומכים ושותפים</a>
              </div>
              <div class="theme-footer_col">
                  <a class="theme-footer_col-header" href="/language-services">שירותי שפה</a>
              </div>
              <div class="theme-footer_col">
                  <a class="theme-footer_col-header" href="https://www.facebook.com/madrasafree/" target="_blank"> <span class="icon fa fa-facebook" aria-hidden="true"></span> </a>
                </div>
                <div class="theme-footer_col">
                    <a class="theme-footer_col-header" href="/tos" target="_blank"> תנאי שימוש ותקנון</a>
                  </div>
              <div class="theme-footer_col">
                  <a class="theme-footer_col-header" href="/contact" target="_blank"> צור קשר</a>
                </div>
                <!-- <div class="theme-footer_col">
                    <a class="theme-footer_col-header" href="/contact" target="_blank"> <span class="icon fa fa-search" aria-hidden="true"></span> </a>
                  </div> -->
                  <div class="theme-footer_col">
                      <a class="theme-footer_col-header" href="/contact" target="_blank"> <span class="icon fa fa-life-ring" aria-hidden="true"></span> </a>
                  </div>
        </div>
        </div>
        <div class="mob-footer d-lg-none">
          <!-- <div class="theme-footer_holder__color text-center">
            <a class="theme-footer_col-header" href="/"><img class="theme-footer_logo" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/home/LogoMadrasaConv1_white.png" alt="white logo"> </a>
          </div> -->
          <p>© כל הזכויות שמורות למדרסה - בית ספר לערבית </p>
        </div>
      </footer>


% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif