<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="pagetitle"> מדרסה - לומדים לתקשר | Madrasa - Learning to Communicate </%block>
<%block name="headextra">
<!-- Search Engine -->
<meta name="description" content="לימוד ערבית מדוברת בחינם. באתר תוכלו למצוא קורסים פתוחים, ספרית תכנים ענפה, מילון, וחשוב לא פחות - להתחבר לקהילה אדירה של לומדים לתקשר - ברשתות החברתיות ובמפגשי תרגול פתוחים">
<meta name="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="מדרסה - לומדים לתקשר | Madrasa - Learning to Communicate">
<meta itemprop="description" content="לימוד ערבית מדוברת בחינם. באתר תוכלו למצוא קורסים פתוחים, ספרית תכנים ענפה, מילון, וחשוב לא פחות - להתחבר לקהילה אדירה של לומדים לתקשר - ברשתות החברתיות ובמפגשי תרגול פתוחים">
<meta itemprop="image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="מדרסה - לומדים לתקשר | Madrasa - Learning to Communicate">
<meta name="og:description" content="לימוד ערבית מדוברת בחינם. באתר תוכלו למצוא קורסים פתוחים, ספרית תכנים ענפה, מילון, וחשוב לא פחות - להתחבר לקהילה אדירה של לומדים לתקשר - ברשתות החברתיות ובמפגשי תרגול פתוחים">
<meta name="og:image" content="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/LogoMadrasaConv1.jpg">

<!-- <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8.1/dist/polyfill.min.js" type="c718d08b4db3c29f025a34f2-text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.0/dist/fetch.umd.min.js" type="c718d08b4db3c29f025a34f2-text/javascript"></script>
<script src="/static/marvel/js/GetSheetDone.min.js" type="c718d08b4db3c29f025a34f2-text/javascript"></script>
<script type="c718d08b4db3c29f025a34f2-text/javascript">
	GetSheetDone.labeledCols('1gB-A3BoqMjEY4pbAmN7iyyXLBcC1X1BtjeSc_NCtNz0', 2)
		.then((data) => {
			if (data && data.data && data.data[0] && data.data[0].donated && data.data[0].target) {
				let dataObj = data.data[0];
				setProgress((dataObj.donated / dataObj.target) * 100)
				//   document.getElementById('joined').textContent = dataObj.numdonators;
				document.getElementById('raised').textContent = dataObj.donated;
				document.getElementById('target').textContent = dataObj.target;
			}
			else {
				setProgress(70)
			}
		}).catch(err => {
			console.log('Error');
			console.error(err);
		});
	function setProgress(value) {
		var bar = document.getElementById('course-progress');
		bar.style.width = value + "%";
	}
</script> -->
<style>

		#story-buttons{
			 text-align:left!important;
		}
	/* Mobile Styles */
	@media only screen and (max-width: 600px) {
	    .promo-box_heading{
            font-size:22px!important;
			margin-top:30px!important;
	    }
	    .promo-box_text{
            font-size:16px!important;
	    }
		.promo-box_holder .home-cta{
			padding:4px!important;
			width:60%!important;
			margin-top:6px!important;
		}
		.promo-box, .carousel-img{
			height:270px!important;
			margin-bottom:5px!important;;
		}
		
		.features h1{
			text-align:center!important;
		}
		.features{
			padding:0 20px!important;
		}
		.features .theme-btn{
			display:block!important;
			margin:auto!important;
			width:60%!important;
			margin-bottom:20px!important;

		}
		.features div:first-child{
			margin-top:5px!important;
		}
		.story .theme-btn-special, .story .theme-btn{
			margin:0!important;
			display:inline-block!important;
		}
		.story div:first-child{
			padding-bottom:0!important;
		}
		#wix-embed{
			height:1500px!important;
		}
		
		#wix-embed iframe{
			height:100%!important;
		}
		#story-buttons{
			 text-align:center!important;
		}
		.features-icons{
			background-size:auto 100%!important;

		}
		
	}
	/* Mobile Styles */

	/* Bar Styles */
	
		.reg-user-progress{
			padding:0!important;
			margin:20px!important;
		}
		
		div.progress{
			max-width:550px!important;
			margin:20px auto 0!important;
		}
	/* Bar Styles */


</style>
</%block>

<main id="main" aria-label="Content" tabindex="-1">
  <section class="home">
    <section class="promo-box">
		<div id="home-carousel" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner">
			<div class="carousel-item active">
			  <img class="carousel-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/home/story0.jpg" alt="First slide">
			</div>
			<div class="carousel-item">
			  <img class="carousel-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/home/story1.jpg" alt="Second slide">
			</div>
			<div class="carousel-item">
			  <img class="carousel-img" src="https://s3.eu-west-3.amazonaws.com/madrasa-site-images/images/home/story2.jpg" alt="Third slide">
			</div>
		  </div>
		</div>
      <div class="promo-box_wrapper">
        <div class="promo-box_helper"></div>
        <div class="promo-box_holder">
          <span class="promo-box_heading"> مَرْحَبَا! מרחבא!
            <br>
            ברוכים הבאים לבית החדש של מדרסה.
          </span>
          <h1 class="promo-box_text"> לימוד ערבית מדוברת חינם, לכולם.</h1>
          <a class="theme-btn theme-btn__invert home-cta" href="/register">בוא.י נתחיל ללמוד </a>
        </div>
      </div>
	</section>
                       <!-- ticker -->
			<section class="ticker">
				<p class="text-center" style="font-size:18px;font-family:'muliregular';font-weight:bold;margin-left:20px;margin-right:20px;">
				
						   אתר מדרסה 
						   <span style="text-decoration: underline;">  
						   לא יהיה זמין 
							ביום שלישי תאריך 16/2/2021 בין השעות 8:00 - 6:00
			  בבוקר 
			</span>
			  בשל עבודת תחזוק בשרת.
				עמכם הסליחה!
				</span>
			  </p>
			  </section>
			  <!-- ticker -->
    <section class="features">
        <div class="container text-left">
			<div class="row">
              <div class="col-md-5">
				  <h3 class="text-left mb-3">הקורסים של מדרסה</h3>
				  <ul class="features-list fa-ul fa-ul-rtl">
					<li><i class="fa-li fa fa-arrow-left"></i>קורסים אינטראקטיביים עם ציונים ומדד התקדמות </li>
					<li><i class="fa-li fa fa-arrow-left"></i>מעל 60 סרטוני לימוד בכל קורס</li>
					<li><i class="fa-li fa fa-arrow-left"></i>מעל 1000 תרגילים ומשחקים בכל קורס</li>
					<li><i class="fa-li fa fa-arrow-left"></i>פינות העשרה ודקדוק</li>
					<li><i class="fa-li fa fa-arrow-left"></i>דיונים עם תלמידים ומורים</li>
					<li><i class="fa-li fa fa-arrow-left"></i>ספרית תכני מדרסה המלאה</li>
					<li><i class="fa-li fa fa-arrow-left"></i>גישה מכל מכשיר</li>
				  </ul>
				  <h1 class="text-left my-4">והכל (ה-כ-ל) בחינם!</h1>
				  <a class="theme-btn theme-btn__invert" href="/register">לאיזור הלימודי של מדרסה</a>
			  </div>
			  <div class="col-md-7">
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wjG6eWKqTzA?wmode=transparent&amp;autoplay=0&amp;theme=dark&amp;controls=1&amp;autohide=0&amp;loop=0&amp;showinfo=0&amp;rel=0&amp;playlist=false&amp;enablejsapi=0" allowfullscreen></iframe>
				</div>
			  </div>
			</div>
        </div>
    </section>
    <%include file="dashboard/common.html"/>

    <section class="story">
        <div class="container text-left">
			<h2>
				הסיפור של מדרסה
			</h2>
			<p class="pt-3">אנחנו מיזם חברתי-קהילתי-טכנולוגי ללימוד ערבית מדוברת בחינם ולכולם.</p>
			<p>המטרה שלנו היא לקדם תקשורת טובה יותר בין המגזרים השונים בחברה הישראלית. המיזם משלב לימוד מקוון באתר באמצעות קורסים אינטראקטיביים וספרית תכנים ענפה, יחד עם פעילות קהילתית יומיומית ברשתות החברתיות וקבוצות לימוד ברחבי הארץ.</p>
			<p class="pb-3">הכל התחיל בסלון של ההורים של גילעד בירושלים בקיץ 2014...</p>
			<div id="story-buttons">
				<a class="theme-btn-special ml-5" href="/about">קרא.י עוד!</a>
				<a class="theme-btn theme-btn__invert ml-5" href="/register">כניסה לקורס</a>
			</div>
		</div>
    </section>
    <section class="instagram">
    </section>
</main>



% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
	$(window).load(function () {
		if (getParameterByName('next')) {
			$('#login').trigger("click");
		}
	})
</script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
	$(window).load(function () { $('#signup_action').trigger("click"); });
</script>
% endif