## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type
%>

<%
  mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
  courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
  can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  restrict_enroll_for_course = course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain
  allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION'))
%>

<button class="theme-main-nav_navbar-toggler navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
  aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav ml-auto align-items-center">
    <li class="nav-item px-3">
      <a class="theme-main-nav_link ${'active' if '/about' == request.path else ''}" href="/about">אודות <span
          class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item px-3">
      <a class="theme-main-nav_link ${'active' if '/community' == request.path else ''}" href="/community">לומדים
        ביחד</a>
    </li>
    <li class="nav-item px-3">
      <a class="theme-main-nav_link ${'active' if '/supporters' == request.path else ''}" href="/supporters">תומכים
        ושותפים</a>
    </li>
    <li class="nav-item px-3">
      <a class="theme-main-nav_link ${'active' if '/language-services' == request.path else ''}"
        href="https://courses.madrasafree.com/courses/">קורסים לארגונים</a>
    </li>
    <li class="nav-item px-3">
      <a class=" btn btn-warning my-2 my-sm-0" href="supportus"
        style="border-radius: 39px; padding-right: 20px; padding-left: 20px; ">
        תמכו בנו
      </a>
    </li>
  </ul>
</div>
<div class="collapse navbar-collapse">
  <ul class="navbar-nav mr-auto align-items-center">
    <!-- <li class="nav-item px-4">
      <a class=" btn btn-warning my-2 my-sm-0" href="supportus" style="border-radius: 39px; padding-right: 20px; padding-left: 20px; ">תמכו
        בנו</a>
    </li> -->
    <li class="nav-item px-4">
      <a class="theme-main-nav_link px-1" role="button" href="/login${login_query()}">
        ${_("Sign in")}
      </a>
    </li>
    |
    <!--
    <li class="nav-item px-4">
      <a class="theme-main-nav_link px-1" href="/register${login_query()}">${_("Register")}</a>
    </li> 
    -->

    <li class="nav-item px-4">
      <a class="theme-main-nav_link px-1" href="/register${login_query()}">הרשמה</a>
    </li>

  </ul>

</div>