## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

# App that handles subdomain specific branding
from lms.djangoapps.branding import api as branding_api
%>

<a class="navbar-brand" href="${marketing_link('ROOT')}">
    <span class="theme-nav-wrapper_logo-holder theme-nav-wrapper_logo-holder_small">
        <!-- <img src="${static.url("images/home/madrasa-beta.png")}" alt="logo" /> -->
        <img src="https://madrasa-site-images.s3.eu-west-3.amazonaws.com/images/logo.png" />
    </span>
</a>